django
# gunicorn
# python-dotenv
# whitenoise
# django-admin-soft-dashboard==1.0.11
pillow
pymysql
django-crum
phonenumbers
django-phonenumber-field
# djangorestframework

# psycopg2-binary
# mysqlclient
