django
# gunicorn
# python-dotenv
# whitenoise
# django-admin-soft-dashboard==1.0.11
django-tables2
pillow
pymysql
# phonenumbers
# django-phonenumber-field
djangorestframework

# psycopg2-binary
# mysqlclient
