{% load static %}
{% load user_agents %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl z-index-2" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="app">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5 {% if request|is_mobile %}col-9{% endif %}">
        <li class="text-sm font-weight-bold text-dark active" aria-current="page">
          Integrated System - {% block title %} A&P Manual {% endblock %} | ABC President Indonesia
        </li>
      </ol>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 z-index-1" id="navbar">
      <ul class="navbar-nav  ms-xl-auto {% if request|is_mobile %}justify-content-end{% endif %}">
        <li class="nav-item d-flex align-items-center">
          <div class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline me-3">{% if request|is_mobile %}{{ request.user.username|truncatechars:16 }}{% else %}{{ request.user.username }}{% endif %}</span>
          </div>
        </li>
        
        <button class="font-weight-bold button text-body text-sm ps-4 border-0 bg-transparent" data-bs-toggle="modal" {% if crud != 'add' and crud != 'update' %}data-bs-target="#confirm"{% endif %}>
          Logout
        </button>

        <li class="nav-item pe-0 px-3 d-flex align-items-center">
          <a {% if crud != 'add' and crud != 'update' %}href="{% url 'change-password' %}"{% endif %} class="nav-link button text-body p-0 m-0" data-toggle="tooltip" data-original-title="Change Password">
            <i class="fa fa-lock fixed-plugin-button-nav cursor-pointer"></i>
          </a>
        </li>
        <li class="nav-item pe-2 px-3 d-flex align-items-center">
          <label for="theme-switch" class="nav-link text-body p-0 m-0" data-toggle="tooltip" data-original-title="Theme">
            <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
          </label>
          <input type="checkbox" class="d-none" id="theme-switch"/>
        </li>

        {% if request|is_mobile %}
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0 m-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
      </div>
      <div class="modal-body border-bottom-0">
        Are you sure you want to Logout?
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
          <button type="submit" role="button" class="btn btn-sm bg-gradient-danger text-white">Yes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div>
  <img src="https://ksisolusi.com/apps/static/img/transparent-logo.png" alt="ABC Logo" class="position-fixed h-100 top-0 d-lg-block {% if request|is_mobile %}w-60 translate-middle-x{% else %}w-40 d-none ms-n9{% endif %} start-50 opacity-2" style="object-fit: contain;">
</div>

{{ redirect_to_login_immediately }}
