
  <script src="/apps/static/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/apps/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/apps/static/vendor/js-cookie/js.cookie.js"></script>
  <script src="/apps/static/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/apps/static/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>

  <script src="/apps/static/js/core/popper.min.js"></script>
  <script src="/apps/static/js/core/bootstrap.min.js"></script>
  <script src="/apps/static/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/apps/static/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/apps/static/js/dark-mode-handler.js"></script>