{% load static %}
{% load user_agents %}
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-default {% if request|is_mobile %}z-index-3{% endif %}" id="sidenav-main">
  <div class="sidenav-header">
    <!-- <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i> -->
    <a class="navbar-brand button cursor-pointer m-0" {% if crud != 'add' and crud != 'update' %}href="{% url 'home' %}"{% endif %}>
      <img src="https://ksisolusi.com/apps/static/img/favicon.png" class="navbar-brand-img w-40" alt="main_logo">
    </a>
  </div>
  <hr class="horizontal default mt-2">
  <div class="collapse navbar-collapse  w-auto mb-4 " id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link {% if 'index' in segment %} active {% endif %}">

          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <svg width="12px" height="12px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>shop </title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1716.000000, -439.000000)" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(1716.000000, 291.000000)">
                    <g transform="translate(0.000000, 148.000000)">
                      <path class="color-background opacity-6" d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
                      <path class="color-background" d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link {% if 'budget' in group_segment %}active{% endif %} {% if 'budget' not in group_segment %}collapsed{% endif %}" href="#budget-menu" data-bs-toggle="collapse" data-bs-target="#budget-menu" aria-controls="budget-menu" role="button">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if 'budget' in group_segment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>Budget</title>
              <g fill="none">
                <path d="M11.5 17.1c-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79z" fill="#F7F7F7"></path>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>Budget</title>
              <g fill="none">
                <path d="M11.5 17.1c-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79z" fill="#212121"></path>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">Budget</span>
        </a>

        <div class="multi-level ms-5 collapse {% if 'budget' in group_segment %}show{% endif %}" role="list" id="budget-menu" aria-expanded="{% if 'budget' in group_segment %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if segment == 'budget' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'BUDGET' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'budget-index' 'open' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'BUDGET' not in role and not request.user.is_superuser %}disabled{% endif %}">List</span>
              </a>
            </li>
            <li class="nav-item {% if 'budget_upload' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'BUDGET-PERCENTAGE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'budget-upload' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'BUDGET-PERCENTAGE' not in role and not request.user.is_superuser %}disabled{% endif %}">Upload</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'budget_release' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'BUDGET-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'budget-release-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'BUDGET-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}">Approval</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'budget_closing' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'BUDGET-CLOSING' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'closing' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'BUDGET-CLOSING' not in role and not request.user.is_superuser %}disabled{% endif %}">Closing</span>
              </a>
            </li>
            <li class="nav-item {% if 'budget_archive' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'BUDGET-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'budget-archive-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'BUDGET-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}">Archive</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'transfer' in group_segment %}active{% endif %} {% if 'transfer' not in group_segment %}collapsed{% endif %}" href="" data-bs-toggle="collapse" data-bs-target="#transfer-menu">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if 'transfer' in group_segment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>transfer</title>
              <g fill="#F7F7F7" stroke="#F7F7F7">
                <line x1="16" y1="26" x2="16" y2="1" fill="none" stroke-miterlimit="10" stroke-width="2"></line>
                <polyline points="10 20 16 26 22 20" fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></polyline>
                <polyline points="11 15 5 15 2 30 30 30 27 15 21 15" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></polyline>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>transfer</title>
              <g fill="#212121" stroke="#212121">
                <line x1="16" y1="26" x2="16" y2="1" fill="none" stroke-miterlimit="10" stroke-width="2"></line>
                <polyline points="10 20 16 26 22 20" fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></polyline>
                <polyline points="11 15 5 15 2 30 30 30 27 15 21 15" fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></polyline>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">Transfer</span>
        </a>

        <div class="multi-level ms-5 collapse {% if 'transfer' in group_segment %}show{% endif %}" role="list" id="transfer-menu" aria-expanded="{% if 'transfer' in group_segment %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if segment == 'transfer' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'TRANSFER' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'budget-transfer-index' 'open' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'TRANSFER' not in role and not request.user.is_superuser %}disabled{% endif %}">List</span>
              </a>
            </li>
            <!-- <li class="nav-item {% if segment == 'transfer_release' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'TRANSFER-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'budget-transfer-release-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'TRANSFER-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}">Release</span>
              </a>
            </li> -->
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'proposal' in group_segment %}active{% endif %} {% if 'proposal' not in group_segment %}collapsed{% endif %}" href="" data-bs-toggle="collapse" data-bs-target="#proposal-menu">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if 'proposal' in group_segment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
              <title>Proposal</title>
              <g stroke-width="2" fill="#F7F7F7" stroke="#F7F7F7">
                <polyline fill="none" stroke="#F7F7F7" stroke-miterlimit="10" points="30,2 30,14 42,14 " stroke-linejoin="miter" stroke-linecap="butt"></polyline> 
                <polygon fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" points="30,2 6,2 6,46 42,46 42,14 " stroke-linejoin="miter"></polygon> 
                <line fill="none" stroke-linecap="square" stroke-miterlimit="10" x1="14" y1="36" x2="34" y2="36" stroke-linejoin="miter"></line> 
                <line fill="none" stroke-linecap="square" stroke-miterlimit="10" x1="14" y1="26" x2="34" y2="26" stroke-linejoin="miter"></line> 
                <line fill="none" stroke-linecap="square" stroke-miterlimit="10" x1="14" y1="16" x2="22" y2="16" stroke-linejoin="miter"></line>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
              <title>Proposal</title>
              <g stroke-width="2" fill="#212121" stroke="#212121">
                <polyline fill="none" stroke="#212121" stroke-miterlimit="10" points="30,2 30,14 42,14 " stroke-linejoin="miter" stroke-linecap="butt"></polyline> 
                <polygon fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" points="30,2 6,2 6,46 42,46 42,14 " stroke-linejoin="miter"></polygon> 
                <line fill="none" stroke-linecap="square" stroke-miterlimit="10" x1="14" y1="36" x2="34" y2="36" stroke-linejoin="miter"></line> 
                <line fill="none" stroke-linecap="square" stroke-miterlimit="10" x1="14" y1="26" x2="34" y2="26" stroke-linejoin="miter"></line> 
                <line fill="none" stroke-linecap="square" stroke-miterlimit="10" x1="14" y1="16" x2="22" y2="16" stroke-linejoin="miter"></line>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">Proposal</span>
        </a>

        <div class="multi-level ms-5 collapse {% if 'proposal' in group_segment %}show{% endif %}" role="list" id="proposal-menu" aria-expanded="{% if 'proposal' in group_segment %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if segment == 'proposal' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROPOSAL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'proposal-index' 'open' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROPOSAL' not in role and not request.user.is_superuser %}disabled{% endif %}">List</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'proposal_closing' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROPOSAL-CLOSING' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'proposal-closing-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROPOSAL-CLOSING' not in role and not request.user.is_superuser %}disabled{% endif %}">Closing</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'proposal_release' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROPOSAL-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'proposal-release-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROPOSAL-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}">Approval</span>
              </a>
            </li>
            <li class="nav-item {% if 'proposal_archive' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROPOSAL-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'proposal-archive-index' 'close' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROPOSAL-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}">Archive</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'program' in group_segment %}active{% endif %} {% if 'program' not in group_segment %}collapsed{% endif %}" href="" data-bs-toggle="collapse" data-bs-target="#program-menu">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if 'program' in group_segment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>program</title>
              <g stroke-width="2" fill="#F7F7F7" stroke="#F7F7F7">
                <path d="M3,18H1v9a2.946,2.946,0,0,0,3,3" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10"></path> 
                <path d="M7,2V27a2.946,2.946,0,0,1-3,3H27a2.946,2.946,0,0,0,3-3V2Z" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10"></path> 
                <rect x="12" y="7" width="13" height="7" fill="none" stroke-linecap="square" stroke-miterlimit="10"></rect> 
                <line x1="25" y1="24" x2="12" y2="24" fill="none" stroke-linecap="square" stroke-miterlimit="10"></line> 
                <line x1="25" y1="19" x2="12" y2="19" fill="none" stroke-linecap="square" stroke-miterlimit="10"></line>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>program</title>
              <g stroke-width="2" fill="#212121" stroke="#212121">
                <path d="M3,18H1v9a2.946,2.946,0,0,0,3,3" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10"></path> 
                <path d="M7,2V27a2.946,2.946,0,0,1-3,3H27a2.946,2.946,0,0,0,3-3V2Z" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10"></path> 
                <rect x="12" y="7" width="13" height="7" fill="none" stroke-linecap="square" stroke-miterlimit="10"></rect> 
                <line x1="25" y1="24" x2="12" y2="24" fill="none" stroke-linecap="square" stroke-miterlimit="10"></line> 
                <line x1="25" y1="19" x2="12" y2="19" fill="none" stroke-linecap="square" stroke-miterlimit="10"></line>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">Program Letter</span>
        </a>

        <div class="multi-level ms-5 collapse {% if 'program' in group_segment %}show{% endif %}" role="list" id="program-menu" aria-expanded="{% if 'program' in group_segment %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if segment == 'program' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROGRAM' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'program-index' 'open' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROGRAM' not in role and not request.user.is_superuser %}disabled{% endif %}">List</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'program_release' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROGRAM-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'program-release-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROGRAM-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}">Approval</span>
              </a>
            </li>
            <li class="nav-item {% if 'program_archive' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROGRAM-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'program-archive-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROGRAM-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}">Archive</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'claim' in group_segment %}active{% endif %} {% if 'claim' not in group_segment %}collapsed{% endif %}" href="" data-bs-toggle="collapse" data-bs-target="#claim-menu">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if 'claim' in group_segment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>contactless-card</title>
              <g fill="#F7F7F7" stroke="#F7F7F7">
                <path d="M24.865,16.814a6.976,6.976,0,0,0,0-7.628" fill="none" stroke="inherit" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
                <path d="M21.34,14.856a2.94,2.94,0,0,0,0-3.712" fill="none" stroke="inherit" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
                <path d="M1,25V7A2,2,0,0,1,3,5H29a2,2,0,0,1,2,2V25a2,2,0,0,1-2,2H3A2,2,0,0,1,1,25Z" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
                <line x1="6" y1="22" x2="18" y2="22" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line>
                <line x1="22" y1="22" x2="26" y2="22" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line>
                <rect x="6" y="10" width="5" height="4" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></rect>
                <circle cx="18" cy="13" r="1" data-stroke="none" stroke="none"></circle>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>contactless-card</title>
              <g fill="#212121" stroke="#212121">
                <path d="M24.865,16.814a6.976,6.976,0,0,0,0-7.628" fill="none" stroke="inherit" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
                <path d="M21.34,14.856a2.94,2.94,0,0,0,0-3.712" fill="none" stroke="inherit" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
                <path d="M1,25V7A2,2,0,0,1,3,5H29a2,2,0,0,1,2,2V25a2,2,0,0,1-2,2H3A2,2,0,0,1,1,25Z" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
                <line x1="6" y1="22" x2="18" y2="22" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line>
                <line x1="22" y1="22" x2="26" y2="22" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line>
                <rect x="6" y="10" width="5" height="4" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></rect>
                <circle cx="18" cy="13" r="1" data-stroke="none" stroke="none"></circle>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">Claim</span>
        </a>

        <div class="multi-level ms-5 collapse {% if 'claim' in group_segment %}show{% endif %}" role="list" id="claim-menu" aria-expanded="{% if 'claim' in group_segment %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if segment == 'claim' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CLAIM' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'claim-index' 'open' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CLAIM' not in role and not request.user.is_superuser %}disabled{% endif %}">List</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'claim_release' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CLAIM-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'claim-release-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CLAIM-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}">Approval</span>
              </a>
            </li>
            <li class="nav-item {% if 'claim_archive' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CLAIM-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'claim-archive-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CLAIM-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}">Archive</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if group_segment == 'cl' %}active{% endif %} {% if group_segment != 'cl' %}collapsed{% endif %}" href="" data-bs-toggle="collapse" data-bs-target="#cl-menu">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if group_segment == 'cl' %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>menu</title>
              <g fill="#F7F7F7">
                <path d="M23,13H1c-0.552,0-1-0.447-1-1s0.448-1,1-1h22c0.552,0,1,0.447,1,1S23.552,13,23,13z"></path> 
                <path fill="#F7F7F7" d="M23,6H12c-0.552,0-1-0.447-1-1s0.448-1,1-1h11c0.552,0,1,0.447,1,1S23.552,6,23,6z"></path> 
                <path fill="#F7F7F7" d="M12,20H1c-0.552,0-1-0.447-1-1s0.448-1,1-1h11c0.552,0,1,0.447,1,1S12.552,20,12,20z"></path>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>menu</title>
              <g fill="#212121">
                <path d="M23,13H1c-0.552,0-1-0.447-1-1s0.448-1,1-1h22c0.552,0,1,0.447,1,1S23.552,13,23,13z"></path> 
                <path fill="#212121" d="M23,6H12c-0.552,0-1-0.447-1-1s0.448-1,1-1h11c0.552,0,1,0.447,1,1S23.552,6,23,6z"></path> 
                <path fill="#212121" d="M12,20H1c-0.552,0-1-0.447-1-1s0.448-1,1-1h11c0.552,0,1,0.447,1,1S12.552,20,12,20z"></path>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">CL</span>
        </a>

        <div class="multi-level ms-5 collapse {% if group_segment == 'cl' %}show{% endif %}" role="list" id="cl-menu" aria-expanded="{% if group_segment == 'cl' %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if segment == 'cl' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'cl-index' 'open' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CL' not in role and not request.user.is_superuser %}disabled{% endif %}">List</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'cl_release' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CL-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'cl-release-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CL-RELEASE' not in role and not request.user.is_superuser %}disabled{% endif %}">Approval</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'cl_archive' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CL-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'cl-archive-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CL-ARCHIVE' not in role and not request.user.is_superuser %}disabled{% endif %}">Archive</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'report' in group_segment %}active{% endif %} {% if 'report' not in group_segment %}collapsed{% endif %}" href="" data-bs-toggle="collapse" data-bs-target="#report-menu">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if 'report' in group_segment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>ranking</title>
              <g fill="#F7F7F7">
                <polyline points="6 13 9 7 16 12 22 3" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></polyline> 
                <line x1="2" y1="21" x2="4.246" y2="16.508" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line> 
                <polyline points="2 13 6 13 16 18 22 14" fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></polyline>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>ranking</title>
              <g fill="#212121">
                <polyline points="6 13 9 7 16 12 22 3" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></polyline> 
                <line x1="2" y1="21" x2="4.246" y2="16.508" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></line> 
                <polyline points="2 13 6 13 16 18 22 14" fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></polyline>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">Report</span>
        </a>

        <div class="multi-level ms-5 collapse {% if 'report' in group_segment %}show{% endif %}" role="list" id="report-menu" aria-expanded="{% if 'report' in group_segment %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if segment == 'report_budget_monthly' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'report-monthly-budget' '0' '0' '0' '0' 'all' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}">Budget Monthly</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'report_budget_summary' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'report-budget-summary' '0' '0' '0' '0' 'all' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}">Budget Summary</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'report_budget_detail' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'report-budget-detail' '0' '0' '0' '0' 'all' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}">Budget Detail</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'report_transfer' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'report-transfer' '0' '0' '0' '0' 'all' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}">Transfer</span>
              </a>  
            </li>
            <li class="nav-item {% if segment == 'report_proposal' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'report-proposal' '0' '0' '0' '0' 'all' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}">Proposal</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'report_proposal_claim' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'report-proposal-claim' '0' '0' '0' '0' 'all' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}">Proposal - Claim</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'report_claim' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'report-claim' '0' '0' '0' '0' 'all' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}">Claim</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'report_cl' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'report-cl' '0' '0' '0' '0' 'all' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REPORT' not in role and not request.user.is_superuser %}disabled{% endif %}">CL</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'master' in group_segment %}active{% endif %} {% if 'master' not in group_segment %}collapsed{% endif %}" href="{% url 'user-index' %}" data-bs-toggle="collapse" data-bs-target="#user-menu">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if 'master' in group_segment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>Master Data</title>
              <g stroke-width="2" fill="#F7F7F7" stroke="#F7F7F7">
                <polygon fill="none" stroke="#F7F7F7" stroke-linecap="square" stroke-miterlimit="10" points="2,7 12,1 22,7 12,13 " stroke-linejoin="miter"></polygon>
                <polyline fill="none" stroke-linecap="square" stroke-miterlimit="10" points=" 22,12 12,18 2,12 " stroke-linejoin="miter"></polyline>
                <polyline fill="none" stroke-linecap="square" stroke-miterlimit="10" points=" 22,17 12,23 2,17 " stroke-linejoin="miter"></polyline>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>Master Data</title>
              <g stroke-width="2" fill="#212121" stroke="#212121">
                <polygon fill="none" stroke="#212121" stroke-linecap="square" stroke-miterlimit="10" points="2,7 12,1 22,7 12,13 " stroke-linejoin="miter"></polygon>
                <polyline fill="none" stroke-linecap="square" stroke-miterlimit="10" points=" 22,12 12,18 2,12 " stroke-linejoin="miter"></polyline>
                <polyline fill="none" stroke-linecap="square" stroke-miterlimit="10" points=" 22,17 12,23 2,17 " stroke-linejoin="miter"></polyline>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">Master Data</span>
        </a>

        <div class="multi-level ms-5 collapse {% if 'master' in group_segment %}show{% endif %}" role="list" id="user-menu" aria-expanded="{% if 'budget' in group_segment %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if 'user' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'USER' not in role and not request.user.is_superuser %}d-none{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'user-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'USER' not in role and not request.user.is_superuser %}d-none{% endif %}">User</span>
              </a>
            </li>
            <li class="nav-item {% if 'distributor' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'DISTRIBUTOR' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'distributor-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'DISTRIBUTOR' not in role and not request.user.is_superuser %}disabled{% endif %}">Distributor</span>
              </a>
            </li>
            <li class="nav-item {% if 'area_sales' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'AREA' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'area-sales-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'AREA' not in role and not request.user.is_superuser %}disabled{% endif %}">Area Sales</span>
              </a>
            </li>
            <li class="nav-item {% if 'position' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'POSITION' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'position-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'POSITION' not in role and not request.user.is_superuser %}disabled{% endif %}">Position</span>
              </a>
            </li>
            <li class="nav-item {% if 'menu' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'MENU' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'menu-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'MENU' not in role and not request.user.is_superuser %}disabled{% endif %}">Menu</span>
              </a>
            </li>
            <li class="nav-item {% if segment == 'channel' %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CHANNEL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'channel-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CHANNEL' not in role and not request.user.is_superuser %}disabled{% endif %}">Channel</span>
              </a>
            </li>
            <li class="nav-item {% if 'area_channel' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'AREA-CHANNEL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'area-channel-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'AREA-CHANNEL' not in role and not request.user.is_superuser %}disabled{% endif %}">Area Channel</span>
              </a>
            </li>
            <li class="nav-item {% if 'closing_period' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CLOSING-PERIOD' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'closing-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CLOSING-PERIOD' not in role and not request.user.is_superuser %}disabled{% endif %}">Closing Period</span>
              </a>
            </li>
            <li class="nav-item {% if 'division' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'DIVISION' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'division-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'DIVISION' not in role and not request.user.is_superuser %}disabled{% endif %}">Division</span>
              </a>
            </li>
            <li class="nav-item {% if 'region' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'REGION' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' and crud != 'delete' %}href="{% url 'region-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'REGION' not in role and not request.user.is_superuser %}disabled{% endif %}">Region</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'approval' in group_segment %}active{% endif %} {% if 'approval' not in group_segment %}collapsed{% endif %}" href="{% url 'budget-approval-index' %}" data-bs-toggle="collapse" data-bs-target="#approval-menu">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            {% if 'approval' in group_segment %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>Approval</title>
              <g fill="none">
                <path d="M4 16v6h16v-6c0-1.1-.9-2-2-2H6c-1.1 0-2 .9-2 2zm14 2H6v-2h12v2zM12 2C9.24 2 7 4.24 7 7l5 7 5-7c0-2.76-2.24-5-5-5zm0 9L9 7c0-1.66 1.34-3 3-3s3 1.34 3 3l-3 4z" fill="#F7F7F7"></path>
              </g>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <title>Approval</title>
              <g fill="none">
                <path d="M4 16v6h16v-6c0-1.1-.9-2-2-2H6c-1.1 0-2 .9-2 2zm14 2H6v-2h12v2zM12 2C9.24 2 7 4.24 7 7l5 7 5-7c0-2.76-2.24-5-5-5zm0 9L9 7c0-1.66 1.34-3 3-3s3 1.34 3 3l-3 4z" fill="#212121"></path>
              </g>
            </svg>
            {% endif %}
          </div>
          <span class="nav-link-text ms-1">Approval Matrix</span>
        </a>

        <div class="multi-level ms-5 collapse {% if 'approval' in group_segment %}show{% endif %}" role="list" id="approval-menu" aria-expanded="{% if 'budget' in group_segment %}true{% else %}false{% endif %}">
          <ul class="flex-column nav">
            <li class="nav-item {% if 'budget_approval' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'BUDGET-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'budget-approval-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'BUDGET-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}">Budget Approval</span>
              </a>
            </li>
            <!-- <li class="nav-item {% if 'transfer_approval' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'TRANSFER-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'budget-transfer-matrix-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'TRANSFER-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}">Transfer Approval</span>
              </a>
            </li> -->
            <li class="nav-item {% if 'proposal_matrix' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROPOSAL-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'proposal-matrix-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROPOSAL-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}">Proposal Approval</span>
              </a>
            </li>
            <li class="nav-item {% if 'program_matrix' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'PROGRAM-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'program-matrix-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'PROGRAM-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}">Program Approval</span>
              </a>
            </li>
            <li class="nav-item {% if 'claim_matrix' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CLAIM-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'claim-matrix-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CLAIM-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}">Claim Approval</span>
              </a>
            </li>
            <li class="nav-item {% if 'cl_matrix' in segment %}active{% endif %} list-unstyled">
              <a class="nav-link button cursor-pointer {% if 'CL-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}" {% if crud != 'add' and crud != 'update' %}href="{% url 'cl-matrix-index' %}"{% endif %}>
                <span class="nav-link-text ms-1 {% if 'CL-APPROVAL' not in role and not request.user.is_superuser %}disabled{% endif %}">CL Approval</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>
