{% extends 'layouts/base.html' %}

{% block title %} View Area Sales {% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'area-sales-update' data.area_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">Area Sales ID: {{ data.area_id }}</h4>
                            </div>
                            <div class="col-6 text-end">
                                <a href="{% if crud == 'view' %}{% url 'area-sales-index' %}{% else %}{% url 'area-sales-view' data.area_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Back{% else %}Cancel{% endif %}</a>
                                <a href="{% url 'area-sales-update' data.area_id %}" class="btn btn-sm bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn btn-sm bg-gradient-danger mb-0 {% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.area_id }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.area_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to delete area sales <strong>{{ data.area_name }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'area-sales-delete' data.area_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.area_name.label_tag }}{{ form.area_name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.manager.label_tag }}
                                        <select class="form-control form-select-sm" name="manager" {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %} {% if crud == 'view' %}disabled{% endif %}>
                                            {% for item in managers %}
                                            <option value="{{ item.user_id }}" {% if item.user_id == data.manager %}selected{% endif %}>{{ item.username }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card mt-2 mb-4 p-4">
                <div class="row mb-0">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0">Distributor List</h5>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn btn-sm bg-gradient-danger mb-0" data-bs-toggle="modal" data-bs-target="#dialog-popup" {% if not btn.edit and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Distributor</button>
                    </div>
                </div>
                <div class="modal fade" id="dialog-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Select Distributor</h5>
                            </div>
                            <form method="post" action="{% url 'area-sales-view' data.area_id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body border-bottom-0">
                                    <div class="table-responsive p-0">
                                        <table class="table align-items-center mb-0" id="distributorTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Distributor</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in distributors %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex pe-2 py-1">
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="cursor-pointer border" name="checks[]" value="{{ item.0 }}" {% if item.2 %}checked{% endif %}/>                                                    
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn bg-gradient-danger text-white">Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Distributor</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in detail %}
                                <tr>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.distributor.distributor_name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn-icon-only text-dark bg-transparent border-0" data-bs-toggle="modal" data-bs-target="{% if btn.edit or request.user.is_superuser %}#delete-{{ item.distributor_id }}{% endif %}" {% if crud == 'update' %}disabled{% endif %}><i class="fas fa-times-circle py-0"></i></button>
                                    </td>
                                    <div class="modal fade" id="delete-{{ item.distributor_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                                </div>
                                                <div class="modal-body border-bottom-0">
                                                    Are you sure you want to delete distributor <strong>{{ item.distributor.distributor_name }}</strong>?
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <a href="{% url 'area-sales-view' item.area_id %}" role="button" class="btn btn-sm bg-gradient-dark">Cancel</a>
                                                    <a href="{% url 'area-sales-detail-delete' item.area_id item.distributor_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="card mt-4 mb-4 p-4">
                    <div class="row mb-0">
                        <div class="col-12 d-flex align-items-center">
                            <h5 class="mb-0">Distributor List</h5>
                        </div>
                        <div class="mt-3">
                            <label>Distributor Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group shadow-none mt-0 mb-0 border-top">
                                {{ formset.management_form }}
                                {% for form in formset %}
                                    <div class="pb-0 distributor-list border-bottom">
                                        <div class="row">
                                            <div class="col-6">
                                                {{ form.distributor }}
                                            </div>
                                            <div class="d-none">
                                                {{ form.DELETE }}
                                                {{ form.id }}
                                            </div>
                                            <div class="col-6 d-flex align-items-end">
                                                <button type="button" class="btn delete-btn bg-transparent shadow-none btn-lg p-0 mt-2" {% if crud == 'view' %}disabled{% endif %}><i class="fas fa-times-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="empty-form" class="border-bottom pb-0 d-none">
                                <div class="row">
                                    <div class="col-6">
                                        {{ formset.empty_form.distributor }}
                                    </div>
                                    <div class="d-none">
                                        {{ formset.empty_form.DELETE }}
                                        {{ formset.empty_form.id }}
                                    </div>
                                    <div class="col-6 d-flex align-items-end">
                                        <button type="button" class="btn delete-btn bg-transparent shadow-none btn-lg p-0 mt-2" {% if crud == 'view' %}disabled{% endif %}><i class="fas fa-times-circle"></i></button>
                                    </div>
                                </div>
                                <div class="text-sm text-danger">
                                    {{ formset.empty_form.distributor.errors }}
                                </div>
                            </div>
                            <button id="add-more" type="button" class="border-0 bg-transparent text-danger mt-3" {% if crud == 'view' %}disabled{% endif %}><i class="fas fa-plus"></i>&nbsp;&nbsp;Add More Distributor</button>
                        </div>
                    </div>
                </div> -->
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready( function () {
      $('#myTable').DataTable(
            {
                "searching": false,
                "lengthChange": false,
            }
      );
    } );

    $(document).ready( function () {
      $('#distributorTable').DataTable();
    } );
    
    // const addMore = document.getElementById('add-more');
    // const totalNewForm = document.getElementById('id_form-TOTAL_FORMS');
    // let currentDistributorCount = document.getElementsByClassName('distributor-list').length;
    
    // function deleteForm() {
    //     const deleteButtons = document.getElementsByClassName('delete-btn');
    //     const inputChecked = document.getElementsByClassName('form-check-input');
    //     for (let i = 0; i < deleteButtons.length; i++) {
    //         console.log(i);
    //         deleteButtons[i].addEventListener('click', function (event) {
    //             if (event) {
    //                 event.preventDefault();
    //             }
    //             currentDistributorCount = document.getElementsByClassName('distributor-list').length;
    //             if (currentDistributorCount > 0) {
    //                 const form = this.closest('.distributor-list');
    //                 inputChecked[i + 1].checked = true;
    //                 form.classList.add('d-none');
    //             }
    //         });
    //     }
    // }
    // document.addEventListener('DOMContentLoaded', function () {
    //     deleteForm();
    // });

    // addMore.addEventListener('click', function(event) {
    //     if (event) {
    //         event.preventDefault();
    //     }
    //     currentDistributorCount = document.getElementsByClassName('distributor-list').length;
    //     const emptyForm = document.getElementById('empty-form');
    //     const clone = emptyForm.cloneNode(true);
    //     clone.id = `form-${currentDistributorCount}`;
    //     clone.classList.remove('d-none');
    //     clone.classList.add('distributor-list');
    //     const regex = new RegExp('__prefix__', 'g');
    //     clone.innerHTML = clone.innerHTML.replace(regex, currentDistributorCount);
    //     totalNewForm.value = currentDistributorCount + 1;
    //     emptyForm.parentNode.insertBefore(clone, emptyForm);
    //     deleteForm();
    // });
</script>
{% endblock javascripts %}
