{% extends 'layouts/base.html' %}

{% block title %} Budget Transfer {% endblock title %}

{% block content %}

{% load humanize %}

{% load user_agents %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card {% if request|is_mobile %}mb-6{% else %}mb-4{% endif %} p-4">
                <div class="row mb-2">
                    <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                        <h4>Budget Transfer</h4>
                    </div>
                    <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                        {% if request|is_mobile %}
                        <div class="dropdown float-lg-end pe-2 {% if not btn.add and not request.user.is_superuser %}d-none{% endif %}">
                            <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                <li><a class="dropdown-item border-radius-md" href="{% url 'budget-transfer-add' '0' '0' '0' '0' %}">New Budget Transfer</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <a class="btn btn-sm bg-gradient-danger mb-0 {% if not btn.add and not request.user.is_superuser %}disabled{% endif %}" href="{% url 'budget-transfer-add' '0' '0' '0' '0' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;New Budget Transfer</a>
                        {% endif %}
                    </div>
                </div>
                <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if tab == 'open' %}active{% endif %}" id="open-tab" data-bs-toggle="tab" data-bs-target="#open-tab-pane" type="button"
                            role="tab" aria-controls="open-tab-pane" aria-selected="true">Completed {% if approved_count > 0 %}({{ approved_count }}){% endif %}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if tab == 'draft' %}active{% endif %}" id="draft-tab" data-bs-toggle="tab" data-bs-target="#draft-tab-pane" type="button"
                            role="tab" aria-controls="draft-tab-pane" aria-selected="false">Draft {% if drafts_count > 0 %}({{ drafts_count }}){% endif %}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if tab == 'inapproval' %}active{% endif %}" id="inapproval-tab" data-bs-toggle="tab" data-bs-target="#inapproval-tab-pane" type="button"
                            role="tab" aria-controls="inapproval-tab-pane" aria-selected="false">In Approval {% if inapprovals_count > 0 %}({{ inapprovals_count }}){% endif %}</button>
                    </li>
                </ul> -->
                <!-- <div class="tab-content pt-4" id="myTabContent">
                    <div class="tab-pane fade {% if tab == 'open' %}show active{% endif %}" id="open-tab-pane" role="tabpanel" aria-labelledby="open-tab" tabindex="0">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="openTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget Transfer No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Area</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Distributor</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">
                                                Amount</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in approved %}
                                        <tr data-href="{% url 'budget-transfer-view' tab item.transfer_id %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.transfer_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.date }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.area.area_name }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.distributor.distributor_name }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.amount|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">COMPLETED</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if tab == 'draft' %}show active{% endif %}" id="draft-tab-pane" role="tabpanel" aria-labelledby="draft-tab" tabindex="1">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="draftTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget Transfer No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Area</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Distributor</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">
                                                Amount</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in drafts %}
                                        <tr data-href="{% url 'budget-transfer-view' tab item.transfer_id %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.transfer_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.date }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.area.area_name }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.distributor.distributor_name }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.amount|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.status }}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>                
                    </div>
                    <div class="tab-pane fade {% if tab == 'inapproval' %}show active{% endif %}" id="inapproval-tab-pane" role="tabpanel" aria-labelledby="inapproval-tab" tabindex="3">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="inapprovalTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget Transfer No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Area</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Distributor</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">
                                                Amount</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in inapprovals %}
                                        <tr data-href="" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.transfer_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.date }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.area.area_name }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.distributor.distributor_name }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.amount|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.status }}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="openTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget Transfer No.
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Area</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Distributor</th>
                                    <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">
                                        Amount</th>
                                    <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Status</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in approved %}
                                <tr data-href="{% url 'budget-transfer-view' tab item.transfer_id %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.transfer_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-sort="{{ item.date|date:"Y-m-d" }}">
                                        <h6 class="mb-0 text-sm">{{ item.date|date:"d M Y" }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.area.area_name }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.distributor.distributor_name }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.amount|intcomma }}</h6>
                                    </td>
                                    <!-- <td>
                                        <h6 class="mb-0 text-sm">COMPLETED</h6>
                                    </td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#openTable').DataTable({
                "lengthChange": false,
                "scrollX": true,
            });
        } else {
            $('#openTable').DataTable();
        }

        $(document).on('click', 'tbody tr', function() {
            var href = $(this).data('href');
            if(href) { // Check if href data exists
                window.location = href;
            } else {
                console.log("No data in href");
            }
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );

    $(document).ready(function() {
        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });
    });
</script>

{% endblock javascripts %}

