{% extends 'layouts/base.html' %}

{% block title %} Add New Budget Transfer {% endblock title %}

{% block content %}

{% load humanize %}

{% load my_filter %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'budget-transfer-add' selected_area selected_distributor selected_channel '0' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                                <h4 class="mb-2">Add New Budget Transfer</h4>
                            </div>
                            <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><button type="submit" class="dropdown-item border-radius-md text-body" {% if no_save %}hidden{% endif %} {% if selected_channel == '0' %}hidden{% endif %}>Save</button></li>
                                        <li><a class="dropdown-item border-radius-md" href="{% url 'budget-transfer-index' 'open' %}">Cancel</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <button type="submit" class="btn btn-sm bg-gradient-danger mb-0" {% if no_save %}disabled{% endif %} {% if selected_channel == '0' %}disabled{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'budget-transfer-index' 'open' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message != '0' %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ message|to_space }}
                            </div>
                            {% endif %}
                            <!-- {% if form.errors %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %} -->
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.date.label_tag }}
                                        {{ form.date }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="area">Area</label>
                                        <select name="area" id="area" class="form-control form-select-sm" onchange="window.location.href = this.value;">
                                            <option value="">-- Select Area --</option>
                                            {% for item in area %}
                                            <option value="{% url 'budget-transfer-add' item.0 '0' '0' '0' %}" {% if item.0 == selected_area %}selected{% endif %}>{{ item.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="distributor">Distributor</label>
                                        <select name="distributor" id="distributor" class="form-control form-select-sm" onchange="window.location.href = this.value;">
                                            <option value="">-- Select Distributor --</option>
                                            {% for item in distributor %}
                                            <option value="{% url 'budget-transfer-add' selected_area item.0 '0' '0' %}" {% if item.0 == selected_distributor %}selected{% endif %}>{{ item.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="{% if request|is_mobile %}col-12{% else %}col-4{% endif %}">
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="channel_from">Channel From</label>
                                        <select name="channel_from" id="channel_from" class="form-control form-select-sm" onchange="window.location.href = this.value;">
                                            <option value="">-- Select Channel From --</option>
                                            {% for item in channel %}
                                            <option value="{% url 'budget-transfer-add' selected_area selected_distributor item.0 '0' %}" {% if item.0 == selected_channel %}selected{% endif %}>{{ item.0 }} = {{ item.2|intcomma }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="{% if request|is_mobile %}col-12{% else %}col-4{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.channel_to.label_tag }}
                                        <select name="channel_to" id="channel_to" class="form-control form-select-sm">
                                            <option value="">-- Select Channel To --</option>
                                            {% for item in channel_to %}
                                            <option value="{{ item.0 }}">{{ item.0 }} - {{ item.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="{% if request|is_mobile %}col-12{% else %}col-4{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.amount.label_tag }}
                                        {{ form.amount }}
                                        <label class="text-muted text-xs">
                                            <span class="text-danger">*</span> Maximum amount is {% if budget_balance %}{{ budget_balance|intcomma }}{% else %}0{% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="popup-message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Warning</h5>
                </div>
                <div class="modal-body border-bottom-0">
                    Transfer amount is greater than the budget balance or less than or equal to 0.
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-sm bg-gradient-dark mb-0" data-bs-dismiss="modal"><i class="fas fa-check"></i>&nbsp;&nbsp;Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let closing = "{{ closing }}";
    let closingPeriod = "{{ closing_period }}";
    let message = "{{ message }}";

    // if (message != '0') {
    //     $('#popup-message').modal({
    //         backdrop: 'static',
    //         keyboard: false
    //     });
    // }

    $(document).ready(function() {
        $('#areaTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "lengthChange": false,
        });
    });

    $(document).on('click', 'tbody tr', function() {
        window.location = $(this).data('href');
    });

    $(document).ready(function() {
        let modal = document.getElementsByClassName('modal');
        
        for (const item of modal) {
            item.addEventListener('show.bs.modal', function() {
                // remove z-index-0 from nearest card class
                item.closest('.card').classList.remove('z-index-0');
            });
            item.addEventListener('hidden.bs.modal', function() {
                // add z-index-0 from nearest card class
                item.closest('.card').classList.add('z-index-0');
            });
        }
    });

    $(document).ready(function() {
        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });
    });
</script>
{% endblock javascripts %}