{% extends 'layouts/base.html' %}

{% block title %} View Budget {% endblock title %}

{% block content %}

{% load humanize %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'budget-release-update' data.budget_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">Budget No. {{ data.budget_id }}</h4>
                            </div>
                            <div class="col-6 text-end">
                                <a href="{% if crud == 'view' and is_revise == 0 %}{% url 'budget-release-index' %}{% else %}{% if crud == 'update' %}{% url 'budget-release-view' data.budget_id 'NONE' 1 %}{% else %}{% url 'budget-release-view' data.budget_id 'NONE' 0 %}{% endif %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' and is_revise == 0 %}Back{% else %}Cancel{% endif %}</a>
                                <button type="button" class="btn btn-sm bg-gradient-dark mb-0 {% if crud == 'update' or is_revise == 1 %}disabled{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-approve"><i class="fas fa-check"></i>&nbsp;&nbsp;Approve</button>
                                <a href="{% if is_revise == 0 %}{% url 'budget-release-view' data.budget_id 'NONE' 1 %}{% else %}{% url 'budget-release-update' data.budget_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0 {% if approved == 'Y' %}disabled{% endif %} {% if not btn.edit %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;{% if is_revise == 0 %}Revise{% else %}Edit{% endif %}</a>
                                <button type="button" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#upping-note"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn btn-sm bg-gradient-danger mb-0 {% if crud == 'update' or is_revise == 1 %}disabled{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-return"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Return</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to approve budget no: <strong>{{ data.budget_id }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'budget-release-approve' data.budget_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Approve</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="upping-note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Budget Update Notes</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <div class="pl-lg-0">
                                        <div class="input-group">
                                            <textarea class="form-control text-body" name="upping_note" aria-label="Upping Price Note" placeholder="Your note here ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <a href="{% url 'budget-release-view' data.budget_id 'NONE' 1 %}" type="button" class="btn btn-sm bg-gradient-dark">Cancel</a>
                                    <button type="submit"
                                        class="btn btn-sm bg-gradient-danger text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="shadow-none">
                                                <label class="form-control-label" for="budget_year">Year</label>
                                                <input type="text" class="form-control-sm" name="budget_year" value="{{ data.budget_year }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="shadow-none">
                                                <label class="form-control-label" for="budget_month">Month</label>
                                                <input type="text" class="form-control-sm" name="budget_month" value="{{ data.budget_month }}" disabled/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="shadow-none">
                                                <label class="form-control-label" for="budget_area">Area</label>
                                                <input type="text" class="form-control-sm" name="budget_area" value="{{ data.budget_area }}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shadow-none">
                                        {{ form.budget_notes.label_tag }}{{ form.budget_notes }}        
                                        <div class="text-sm text-danger">
                                            {{ form.budget_notes.errors }}
                                        </div>
                                    </div>                                                                                                                                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="shadow-none">
                                            <label class="form-control-label" for="budget_distributor">Distributor</label>
                                            <input type="text" class="form-control-sm" name="budget_distributor" value="{{ data.budget_distributor }}" disabled/>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="shadow-none">
                                                {{ form.budget_amount.label_tag }}
                                                {% if new %}
                                                    {{ form.budget_amount }}
                                                {% else %}
                                                    <div class="d-none">{{ form.budget_amount }}</div>
                                                    <input type="text" class="form-control-sm" name="budget_amount" value="{{ data.budget_amount|intcomma }}" disabled/>
                                                {% endif %}
                                                <div class="text-sm text-danger">
                                                    {{ form.budget_amount.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="shadow-none">
                                                {{ form.budget_upping.label_tag }}{{ form.budget_upping }}
                                                <div class="text-sm text-danger">
                                                    {{ form.budget_upping.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shadow-none">
                                        <label class="form-control-label" for="budget_total">Total Budget</label>
                                        <input type="text" class="form-control-sm" name="budget_total" value="{{ data.budget_total|intcomma }}" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal fade" id="confirm-return" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                        </div>
                        <form method="post" action="{% url 'budget-release-return' data.budget_id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to return budget no.: <strong>{{ data.budget_id }}</strong>?
                                <div class="input-group mt-3">
                                    <textarea class="form-control text-body" name="return_note" aria-label="Return Note"
                                        placeholder="Your note here ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-sm bg-gradient-danger text-white">Return</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0">Budget Detail</h5>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn btn-sm bg-gradient-dark mb-0 {% if crud == 'update' or is_revise == 0 %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#updPercent"><i class="fas fa-edit"></i>&nbsp;&nbsp;Change Budget Percentage</button>
                    </div>
                </div>
                <div class="modal fade" id="updPercent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Percentage Update</h5>
                            </div>
                            <form method="post" action="{% url 'budget-detail-release-update' data.budget_id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body border-bottom-0">
                                    <div class="pl-lg-0">
                                        {% if message != 'NONE' %}
                                        <div class="alert text-danger text-bg-light" role="alert">
                                            {{ message }}
                                        </div>
                                        {% endif %}
                                        <table class="table align-items-center mb-0" id="updTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Channel</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Percent</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in budget_detail %}
                                            <tr>
                                                <td>
                                                    <div class="d-flex pe-2 py-0">
                                                        <div class="d-flex flex-column justify-content-center">
                                                            <h6 class="mb-0 text-sm">{{ item.budget_channel_id }}</h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row text-end">
                                                        <div class="col-md-4 pe-0">
                                                            <input type="number" class="form-control-sm no-spinners text-end" name="budget_percent_{{ item.budget_channel_id }}" value="{{ item.budget_percent }}" {% if not btn.edit and not request.user.is_superuser %}readonly{% endif %}/>
                                                        </div>
                                                        <div class="col-md-1 px-0">
                                                            <h6 class="mt-1 text-sm">%</h6>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="input-group mt-3">
                                            <textarea class="form-control text-body" name="percentage_note" aria-label="Upping Price Note" placeholder="Your note here ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <a href="{% url 'budget-release-view' data.budget_id 'NONE' 1 %}" type="button" class="btn btn-sm bg-gradient-dark">Cancel</a>
                                    <button type="submit"
                                        class="btn btn-sm bg-gradient-danger text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Channel</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Percent</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Beginning Balance</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Upping Price</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Total Budget</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Transfer (-)</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Transfer (+)</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Proposed</th>
                                    <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Program</th> -->
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">Remaining</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in budget_detail %}
                                <tr>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.budget_channel_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_percent }}%</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_amount }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_upping }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_total }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_transfer_minus|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_transfer_plus|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_proposed }}</h6>
                                    </td>
                                    <!-- <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_program }}</h6>
                                    </td> -->
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_remaining|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_balance }}</h6>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                {% if budget_detail %}
                                <tr>
                                    <td colspan="2">
                                        <h6 class="text-sm font-weight-bolder text-end">Total</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ total_beginning|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ total_upping|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ total_total|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ total_transfer_minus|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ total_transfer_plus|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ total_proposed|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ total_remaining|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ total_balance|intcomma }}</h6>
                                    </td>
                                </tr>
                                {% endif %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready( function () {
      $('#myTable').DataTable({
        'pageLength': 5,
        'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, 'All']],
        'searching': false,
        'lengthChange': false,
      });

      $('#channelTable').DataTable();
    
      $('#updTable').DataTable({
        'searching': false,
        'lengthChange': false,
        'paging': false,
        'info': false,
      });
      
      btn = document.getElementsByClassName('paginate_button');
      for (var i = 0; i < btn.length; i++) {
          btn[i].classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
      }
    } );

    let msg = "{{ message }}";
    if (msg != "NONE") {
        $('#updPercent').modal({
            backdrop: 'static',
            keyboard: false
        });
    }
</script>
{% endblock javascripts %}
