{% extends 'layouts/base.html' %}

{% block title %} Upload Log {% endblock title %}

{% block content %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h4 class="mb-4">Upload process has been completed.</h4>
                        </div>
                        <div class="col-6 text-end">
                            <a href="{% url 'export-uploadlog' %}" class="btn btn-sm bg-success text-white mb-0"><i class="fas fa-file-excel"></i>&nbsp;&nbsp;Export to Excel</a>
                        </div>
                        <h6>Currently the budget status has changed to IN APPROVAL and is waiting to be approved.</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-sm">
                                    Number of records uploaded: {{ total }} record(s). <br>
                                    {{ success }} channel(s) successfully updated. <br><br>
                                    {% if errors %}
                                        {{ failed }} error(s) found: <br>
                                        {% for item in errors %} 
                                            <div class="text-danger">
                                                {{ item }} <br>
                                            </div>
                                        {% endfor %}                                     
                                    {% else %}
                                        No errors found.
                                    {% endif %}                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}