{% extends 'layouts/base.html' %}

{% block title %} Closing Report {% endblock title %}

{% block content %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h4 class="mb-4">Closing process has been completed.</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-sm">
                                    <h4 class="mb-4">Budget Closing Report</h4>
                                    Closing month: {{ month }} <br>
                                    Closing year: {{ year }} <br><br>
                                    Number of budgets closed : {{ total }} record(s). <br>
                                    Number of budgets transfered : {{ total }} record(s).<br><br>
                                    Budget Active month: {{ next_month }} <br>
                                    Budget Active year: {{ next_year }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}