{% extends 'layouts/base.html' %}

{% block title %} View Budget Transfer {% endblock title %}

{% block content %}

{% load humanize %}

{% load my_filter %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'budget-transfer-update' data.transfer_id data.area_id data.distributor_id selected_channel message %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="{% if request|is_mobile %}col-11{% else %}col-7{% endif %} d-flex align-items-center">
                                <h4 class="mb-2">Budget Transfer No. {{ data.transfer_id }}</h4>
                            </div>
                            <div class="{% if request|is_mobile %}col-1{% else %}col-5{% endif %} text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="{% if crud == 'view' %}{% url 'budget-transfer-index' tab %}{% else %}{% url 'budget-transfer-view' 'open' data.transfer_id %}{% endif %}">{% if crud == 'view' %}Back{% else %}Cancel{% endif %}</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="{% url 'budget-transfer-update' data.transfer_id data.area_id data.distributor_id data.channel_from_id '0' %}" {% if status != 'DRAFT' and not request.user.is_superuser %}hidden{% else %}{% if not btn.edit and not request.user.is_superuser %}hidden{% endif %}{% endif %} {% if crud == 'update' %}hidden{% endif %} {% if not channel %}hidden{% endif %}>Edit</a></li>
                                        <li><button type="submit" class="dropdown-item border-radius-md text-body" {% if crud == 'view' %}hidden{% endif %}>Save</button></li>
                                        <li><a class="dropdown-item border-radius-md text-danger" {% if status != 'DRAFT' and not request.user.is_superuser %}hidden{% else %}{% if not btn.delete and not request.user.is_superuser %}hidden{% else %}{% if crud == 'update' %}hidden{% endif %}{% endif %}{% endif %} {% if not channel %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-{{ data.transfer_id }}">Delete</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <a href="{% if crud == 'view' %}{% url 'budget-transfer-index' tab %}{% else %}{% url 'budget-transfer-view' 'open' data.transfer_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0 px-3"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Back{% else %}Cancel{% endif %}</a>
                                <a href="{% url 'budget-transfer-update' data.transfer_id data.area_id data.distributor_id data.channel_from_id '0' %}" class="btn btn-sm bg-gradient-dark mb-0 px-4 {% if status != 'DRAFT' and not request.user.is_superuser %}disabled{% else %}{% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}{% endif %} {% if not channel %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn btn-sm bg-gradient-dark mb-0 px-4" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn btn-sm bg-gradient-danger mb-0 px-4 {% if status != 'DRAFT' and not request.user.is_superuser %}disabled{% else %}{% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}{% endif %} {% if not channel %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.transfer_id }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
                                <!-- <button type="button" class="btn btn-sm bg-gradient-dark mb-0 px-4 {% if crud == 'update' %}disabled{% endif %}" data-bs-toggle="modal" {% if data.status == 'DRAFT' %}hidden{% endif %} data-bs-target="#approval"><i class="fas fa-check"></i>&nbsp;&nbsp;Status</button>
                                <button type="button" class="btn btn-sm bg-gradient-dark mb-0 px-4 {% if crud == 'update' %}disabled{% endif %} {% if hundreds == 0 %}disabled{% endif %} {% if not btn.submit %}disabled{% endif %}" {% if data.status != 'DRAFT' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-submit"><i class="fas fa-file-export"></i>&nbsp;&nbsp;Submit</button> -->
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to submit budget transfer no: <strong>{{ data.transfer_id }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'budget-transfer-submit' data.transfer_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="approval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Approval Status</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <table class="table border cell-border align-items-center mb-0" id="releaseTable">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in approval %}
                                        <tr>
                                            <td class="d-none">
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm">{{ item.sequence }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm" data-toggle="tooltip" data-original-title="{{ item.transfer_approval_name }}">{{ item.transfer_approval_position }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm">{% if item.transfer_approval_date %}{{ item.transfer_approval_date }}{% else %}Waiting for approval ...{% endif %}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <i class="mb-0 cursor-default text-sm fas {% if item.transfer_approval_status == 'Y' %}fa-check text-danger{% else %}fa-clock{% endif %}"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.transfer_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to delete this budget transfer no: <strong>{{ data.transfer_id }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'budget-transfer-delete' data.transfer_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message != '0' %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ message|to_space }}
                            </div>
                            {% endif %}
                            <!-- {% if form.errors %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %} -->
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.date.label_tag }}
                                        {{ form.date }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        <label class="text-muted text-xs">Area</label>
                                        <input type="text" name="area" id="area" class="form-control form-control-sm" value="{{ data.area.area_name }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label class="text-muted text-xs">Distributor</label>
                                        <input type="text" name="distributor" id="distributor" class="form-control form-control-sm" value="{{ data.distributor.distributor_name }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="{% if request|is_mobile %}col-12{% else %}col-4{% endif %}">
                                    <div class="shadow-none">   
                                        <label class="form-control-label" for="channel_from">Channel From</label>
                                        {% if crud == 'view' %}
                                        <input type="text" name="channel_from" id="channel_from" class="form-control form-control-sm" value="{{ data.channel_from }}" disabled>
                                        {% else %}
                                        <select name="channel_from" id="channel_from" class="form-control form-select-sm" {% if crud == 'view' %}disabled{% endif %} onchange="window.location.href = this.value;">
                                            {% for item in channel %}
                                            <option value="{% url 'budget-transfer-update' data.transfer_id data.area_id data.distributor_id item.0 '0' %}" {% if item.0 == selected_channel %}selected{% endif %}>{{ item.0 }} = {{ item.2|intcomma }}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="{% if request|is_mobile %}col-12{% else %}col-4{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.channel_to.label_tag }}
                                        {% if crud == 'view' %}
                                        <input type="text" name="channel_to" id="channel_to" class="form-control form-control-sm" value="{{ data.channel_to }}" disabled>
                                        {% else %}
                                        <select name="channel_to" id="channel_to" class="form-control form-select-sm" {% if crud == 'view' %}disabled{% endif %} required>
                                            <option value="">-- Select Channel To --</option>
                                            {% for item in channel_to %}
                                            <option value="{{ item.0 }}" {% if item.0 == data.channel_to_id %}selected{% endif %}>{{ item.0 }} - {{ item.1 }}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="{% if request|is_mobile %}col-12{% else %}col-4{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.amount.label_tag }}
                                        {{ form.amount }}
                                        {% if crud == 'update' %}
                                        <label class="text-muted text-xs">
                                            <span class="text-danger">*</span> Maximum amount is {% if budget_balance %}{{ budget_balance|intcomma }}{% else %}0{% endif %}
                                        </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="popup-message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Warning</h5>
                </div>
                <div class="modal-body border-bottom-0">
                    Transfer amount is greater than the budget balance or less than or equal to 0.
                </div>
                <div class="modal-footer border-0">
                    <a href="{% url 'budget-transfer-update' data.transfer_id data.area_id data.distributor_id data.channel_from_id '0' %}" type="button" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-check"></i>&nbsp;&nbsp;Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let message = "{{ message }}";

    // if (message != '0') {
    //     $('#popup-message').modal({
    //         backdrop: 'static',
    //         keyboard: false
    //     });
    // }

    $(document).ready( function () {
        $('#releaseTable').DataTable({
            'searching': false,
            'lengthChange': false,
            'paging': false,
            'info': false,
            'cell-border': true,
        });
      
        btn = document.getElementsByClassName('paginate_button');
        for (var i = 0; i < btn.length; i++) {
            btn[i].classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );

    $(document).ready(function() {
        let modal = document.getElementsByClassName('modal');
        
        for (const item of modal) {
            item.addEventListener('show.bs.modal', function() {
                // remove z-index-0 from nearest card class
                item.closest('.card').classList.remove('z-index-0');
            });
            item.addEventListener('hidden.bs.modal', function() {
                // add z-index-0 from nearest card class
                item.closest('.card').classList.add('z-index-0');
            });
        }
    });

    $(document).ready(function() {
        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });
    });
</script>
{% endblock javascripts %}
