{% extends 'layouts/base.html' %}

{% block title %} Add New Budget {% endblock title %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'budget-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    {{ message }}
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h3 class="mb-0">Add New Budget</h3>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn bg-gradient-danger mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'budget-index' %}" class="btn bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Year</label>
                                        {{ form.budget_year }}
                                        <div class="text-sm text-danger">
                                            {{ form.budget_year.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Month</label>
                                        {{ form.budget_month }}
                                        <div class="text-sm text-danger">
                                            {{ form.budget_month.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Area</label>
                                        {{ form.budget_area }}
                                        <div class="text-sm text-danger">
                                            {{ form.budget_area.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Distributor</label>
                                        {{ form.budget_distributor }}
                                        <div class="text-sm text-danger">
                                            {{ form.budget_distributor.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Beginning Balance</label>
                                        <div class="input-group input-group-alternative">
                                            {{ form.budget_amount }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Upping Price</label>
                                        <div class="input-group input-group-alternative">
                                            {{ form.budget_upping }}
                                        </div>
                                        <div class="text-sm text-danger">
                                            {{ form.budget_upping.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Total Budget</label>
                                        <div class="input-group input-group-alternative">
                                            {{ form.budget_total }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function() {
    $('#show-hide-new-pass').click(function() {
        if ($(this).hasClass('show')) {
            $(this).removeClass('show');
            $(this).addClass('hide');
            $(this).html('<i class="fas fa-eye my-1"></i>');
            $('#id_password1').attr('type', 'password');
        } else {
            $(this).removeClass('hide');
            $(this).addClass('show');
            $(this).html('<i class="fas fa-eye-slash my-1"></i>');
            $('#id_password1').attr('type', 'text');
        }
    });

    $('#show-hide-confirm-pass').click(function() {
        if ($(this).hasClass('show')) {
            $(this).removeClass('show');
            $(this).addClass('hide');
            $(this).html('<i class="fas fa-eye my-1"></i>');
            $('#id_password2').attr('type', 'password');
        } else {
            $(this).removeClass('hide');
            $(this).addClass('show');
            $(this).html('<i class="fas fa-eye-slash my-1"></i>');
            $('#id_password2').attr('type', 'text');
        }
    });
});
</script>
{% endblock javascripts %}