{% extends 'layouts/base.html' %}

{% block title %} View Budget {% endblock title %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'budget-update' data.budget_no %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <h5 class="mb-0">Budget No.: {{ data.budget_no }}</h5>
                            </div>
                            <div class="col-8 text-end">
                                <a href="{% if crud == 'view' %}{% url 'budget-index' %}{% else %}{% url 'budget-view' data.budget_no %}{% endif %}" class="btn bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Back{% else %}Cancel{% endif %}</a>
                                <a href="{% url 'budget-update' data.budget_no %}" class="btn bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn bg-gradient-danger mb-0 {% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.budget_no }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.budget_no }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to delete budget no. <strong>{{ data.budget_no }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'budget-delete' data.budget_no %}" role="button" class="btn bg-gradient-danger text-white">Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Year</label>
                                        {{ form.budget_year }}
                                        <div class="text-sm text-danger">
                                            {{ form.budget_year.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Month</label>
                                        {{ form.budget_month }}
                                        <div class="text-sm text-danger">
                                            {{ form.budget_month.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Area</label>
                                        {{ form.budget_area }}
                                        <div class="text-sm text-danger">
                                            {{ form.budget_area.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Distributor</label>
                                        {{ form.budget_distributor }}
                                        <div class="text-sm text-danger">
                                            {{ form.budget_distributor.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Beginning Balance</label>
                                        <div class="input-group input-group-alternative">
                                            {{ form.budget_amount }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Upping Price</label>
                                        <div class="input-group input-group-alternative">
                                            {{ form.budget_upping }}
                                            <span class="input-group-text bg-transparent end-0 pe-3 py-2 cursor-pointer text-body" id="show-hide-new-pass"><i class="fas fa-eye my-1"></i></span>
                                        </div>
                                        <div class="text-sm text-danger">
                                            {{ form.budget_upping.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Total Budget</label>
                                        <div class="input-group input-group-alternative">
                                            {{ form.budget_total }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0">Budget Detail</h5>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn bg-gradient-danger mb-0" data-bs-toggle="modal" data-bs-target="#dialog-popup" {% if not btn.edit and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Channel</button>
                    </div>
                </div>
                <div class="modal fade" id="dialog-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Select Channel</h5>
                            </div>
                            <form method="post" action="{% url 'budget-view' data.budget_no %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body border-bottom-0">
                                    <div class="table-responsive p-0">
                                        <table class="table align-items-center mb-0" id="channelTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Channel</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in channel %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex pe-2 py-1">
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm">{{ item.0 }}</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="cursor-pointer border" name="checks[]" value="{{ item.0 }}" {% if item.2 %}checked{% endif %}/>                                                    
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn bg-gradient-danger text-white">Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table {% if crud == 'view' %}hover{% endif %} align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Channel</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Percent</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Beginning Balance</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Upping Price</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Total Budget</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Proposed</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Program</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Claim</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Balance</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in budget_detail %}
                                <tr {% if crud == 'view' %}class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirm-{{ item.budget_channel_id }}"{% endif %}>
                                    <td>
                                        <div class="d-flex pe-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.budget_channel_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.budget_percent }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.budget_amount }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.budget_upping }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.budget_total }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.budget_proposed }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.budget_program }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.budget_claim }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.budget_balance }}</h6>
                                    </td>
                                    <td>
                                        <button class="btn-icon-only text-dark bg-transparent border-0" data-bs-toggle="modal" data-bs-target="{% if btn.edit or request.user.is_superuser %}#delete-{{ item.budget_channel }}{% endif %}"><i class="fas fa-times-circle"></i></button>
                                    </td>
                                    <div class="modal fade" id="delete-{{ item.budget_channel }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                                </div>
                                                <div class="modal-body border-bottom-0">
                                                    Are you sure you want to delete channel <strong>{{ item.budget_channel }}</strong>?
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <a href="{% url 'budget-view' item.budget %}" role="button" class="btn bg-gradient-dark">Cancel</a>
                                                    <a href="{% url 'budget-detail-delete' item.budget item.budget_channel_id %}" role="button" class="btn bg-gradient-danger text-white">Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <div class="modal fade" id="confirm-{{ item.budget_channel_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Channel: {{ item.budget_channel_id }}</h5>
                                            </div>
                                            <form method="post" action="{% url 'budget-detail-update' item.budget item.budget_channel_id %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="modal-body border-bottom-0">
                                                    <div class="pl-lg-0">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group shadow-none">
                                                                    <input type="number" class="form-control" name="budget_percent" value="{{ item.budget_percent }}" {% if not btn.edit and not request.user.is_superuser %}readonly{% endif %}/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn bg-gradient-danger text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready( function () {
      $('#myTable').DataTable({
        'pageLength': 5,
        'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, 'All']],
      });
    } );

    $(document).ready( function () {
      $('#channelTable').DataTable();
    } );
</script>
{% endblock javascripts %}
