{% extends 'layouts/base.html' %}

{% block title %} View CL {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'cl-release-update' data.cl_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-2 z-index-0">
                    <div class="card-header">
                        <div class="row">
                            <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                                <h5 class="mb-2">CL No. {{ data.cl_id }}</h5>
                            </div>
                            <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="{% if crud == 'view' and is_revise == 0 %}{% url 'cl-release-index' %}{% else %}{% if crud == 'update' %}{% url 'cl-release-view' data.cl_id 1 %}{% else %}{% url 'cl-release-view' data.cl_id 0 %}{% endif %}{% endif %}">{% if crud == 'view' and is_revise == 0 %}Back{% else %}Cancel{% endif %}</a></li>
                                        <li><a class="dropdown-item border-radius-md" {% if not btn_release.approve %}hidden{% else %}{% if crud == 'update' or is_revise == 1 %}hidden{% endif %}{% endif %} {% if approved == 'Y' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-approve">Approve</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="{% if is_revise == 0 %}{% url 'cl-release-view' data.cl_id 1 %}{% else %}{% url 'cl-release-update' data.cl_id %}{% endif %}" {% if not btn_release.revise %}hidden{% endif %} {% if approved == 'Y' %}hidden{% endif %} {% if crud == 'update' %}hidden{% endif %}>{% if is_revise == 0 %}Revise{% else %}Edit{% endif %}</a></li>
                                        <li><a class="dropdown-item border-radius-md" {% if crud == 'view' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#revise-note">Save</a></li>
                                        <li><a class="dropdown-item border-radius-md" {% if not btn_release.returned %}hidden{% else %}{% if crud == 'update' or is_revise == 1 %}hidden{% endif %}{% endif %} {% if approved == 'Y' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-return">Return</a></li>
                                        <li><a class="dropdown-item border-radius-md" {% if not btn_release.reject %}hidden{% else %}{% if crud == 'update' or is_revise == 1 %}hidden{% endif %}{% endif %} {% if approved == 'Y' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-reject">Reject</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <a href="{% if crud == 'view' and is_revise == 0 %}{% url 'cl-release-index' %}{% else %}{% if crud == 'update' %}{% url 'cl-release-view' data.cl_id 1 %}{% else %}{% url 'cl-release-view' data.cl_id 0 %}{% endif %}{% endif %}" class="btn btn-sm px-3 bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' and is_revise == 0 %}Back{% else %}Cancel{% endif %}</a>
                                <button type="button" class="btn btn-sm px-3 bg-gradient-dark mb-0 {% if not btn_release.approve %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-approve"><i class="fas fa-check"></i>&nbsp;&nbsp;Approve</button>
                                <a href="{% if is_revise == 0 %}{% url 'cl-release-view' data.cl_id 1 %}{% else %}{% url 'cl-release-update' data.cl_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0 px-4 {% if not btn_release.revise %}disabled{% endif %} {% if approved == 'Y' %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;{% if is_revise == 0 %}Revise{% else %}Edit{% endif %}</a>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#revise-note"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-dark mb-0 {% if not btn_release.returned %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-return"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Return</button>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-danger mb-0 {% if not btn_release.reject %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-reject"><i class="fas fa-times"></i>&nbsp;&nbsp;Reject</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to approve CL no. <strong>{{ data.cl_id }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'cl-release-approve' data.cl_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Approve</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="revise-note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Revise Notes</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <div class="pl-lg-0">
                                        <div class="input-group">
                                            <textarea class="form-control text-body" name="revise_note" aria-label="Revise Note" placeholder="Your note here ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit"
                                        class="btn btn-sm bg-gradient-danger text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="approval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Approval Status</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <table class="table border cell-border align-items-center mb-0" id="releaseTable">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in approval %}
                                        <tr>
                                            <td class="d-none">
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm">{{ item.sequence }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm" data-toggle="tooltip" data-original-title="{{ item.cl_approval_name }}">{{ item.cl_approval_position }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm">{% if item.cl_approval_date == NONE %}Waiting for approval ... {% else %}{{ item.cl_approval_date }}{% endif %}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <i class="mb-0 cursor-default text-sm fas {% if item.cl_approval_status == 'Y' %}fa-check text-danger{% else %}fa-clock{% endif %}"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message != '0' and crud == 'update' %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        <label for="id_cl_id">CL No.</label>
                                        <input type="text" name="cl_id" id="id_cl_id" class="form-control form-control-sm" value="{{ data.cl_id }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        <label for="id_cl_date">Date</label>
                                        <input type="text" name="cl_date" id="id_cl_date" class="form-control form-control-sm" value="{{ data.cl_date|date:'d/m/Y' }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        <label for="id_area">Area</label>
                                        <input type="text" name="area" id="id_area" class="form-control form-control-sm" value="{{ data.area }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="shadow-none">
                                        <label for="id_distributor">Distributor</label>
                                        <input type="text" name="distributor" id="id_distributor" class="form-control form-control-sm" value="{{ data.distributor }}" readonly>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal fade" id="confirm-return" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                        </div>
                        <form method="post" action="{% url 'cl-release-return' data.cl_id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to return CL no. <strong>{{ data.cl_id }}</strong>?
                                <div class="input-group mt-3">
                                    <textarea class="form-control text-body" name="return_note" aria-label="Return Note"
                                        placeholder="Your note here ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-sm bg-gradient-danger text-white">Return</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirm-reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                        </div>
                        <form method="post" action="{% url 'cl-release-reject' data.cl_id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to reject CL no. <strong>{{ data.cl_id }}</strong>?
                                <div class="input-group mt-3">
                                    <textarea class="form-control text-body" name="reject_note" aria-label="Reject Note"
                                        placeholder="Your note here ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-sm bg-gradient-danger text-white">Reject</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card {% if request|is_mobile %}mb-6{% else %}mb-4{% endif %} px-4 pb-4 z-index-0">
                <div class="row">
                    {% if request|is_mobile %}
                    <div class="col-11 d-flex align-items-center">
                        <h5 class="mb-0 mt-4">Claim List</h5>
                    </div>
                    {% else %}
                    <div>
                        <h5 class="mb-0 mt-4">Claim List</h5>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0"></h5>
                    </div>
                    {% endif %}
                    <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                        {% if request|is_mobile %}
                        <div class="dropdown float-lg-end pe-2 mt-4 {% if not btn.edit and not request.user.is_superuser %}d-none{% else %}{% if crud == 'update' %}d-none{% endif %}{% endif %}">
                            <a class="cursor-pointer text-body" id="dropdownClaim" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                <li><a class="dropdown-item border-radius-md" data-bs-toggle="modal" data-bs-target="#dialog-popup">Add Claim</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <button id="myBtn" type="button" class="btn btn-sm bg-gradient-danger mb-0" data-bs-toggle="modal" data-bs-target="#dialog-popup" {% if not btn.edit and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Claim</button>
                        {% endif %}
                    </div>
                </div>
                <div class="modal fade" id="dialog-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Select Claim</h5>
                            </div>
                            <form method="post" action="{% url 'cl-release-view' data.cl_id 0 %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body border-bottom-0">
                                    <div class="table-responsive p-0">
                                        <table class="table align-items-center mb-0" id="claimTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Claim</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Remarks</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in claim %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex pe-2 py-0">
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm">{{ item.0 }}</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex pe-2 py-0">
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="cursor-pointer border" name="checks[]" value="{{ item.0 }}" {% if item.2 %}checked{% endif %}/>                                                    
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-sm bg-gradient-danger text-white">Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 {% if request|is_mobile %}pt-4{% else %}pt-0{% endif %} pb-2">
                    <div class="table-responsive p-0">
                        <table class="table {% if crud == 'view' %}hover{% endif %} align-items-center mb-0" id="{% if request|is_mobile %}mobileTable{% else %}detailTable{% endif %}">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Claim No.</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Invoice Description</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Amount</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Program No.</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Proposal No.</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cl_detail %}
                                <tr>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.claim_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.claim.remarks|truncatechars:15 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.claim.total_claim|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.claim.program_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.claim.proposal_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn-icon-only text-dark bg-transparent border-0" data-bs-toggle="modal" {% if btn.edit or request.user.is_superuser %}data-bs-target="#delete-{{ item.claim_id }}"{% else %}disabled{% endif %} {% if crud == 'update' %}disabled{% endif %}><i class="fas fa-times-circle"></i></button>
                                    </td>
                                    <div class="modal fade" id="delete-{{ item.claim_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                                </div>
                                                <div class="modal-body border-bottom-0">
                                                    Are you sure you want to delete claim no. <strong>{{ item.claim }}</strong>?
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button role="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                                    <a href="{% url 'cldetail-release-delete' item.id %}" role="button" class="btn bg-gradient-danger text-white">Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                {% if cl_detail %}
                                <tr>
                                    <td colspan="2">
                                        <h6 class="text-sm font-weight-bolder text-end">Total</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-sm font-weight-bolder text-end">{{ sum_cl_detail.total_claim|intcomma }}</h6>
                                    </td>
                                    <td colspan="3"></td>
                                </tr>
                                {% endif %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#releaseTable').DataTable({
            'searching': false,
            'lengthChange': false,
            'paging': false,
            'info': false,
            'cell-border': true,
        });

        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#mobileTable').DataTable({
                'scrollX': true,
                'lengthChange': false,
            });
        } else {
            $('#detailTable').DataTable({
                'pageLength': 10,
                'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, 'All']],
            });    
        }

        let btn = document.getElementsByClassName('paginate_button');
        for (var button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }

        let btn_menu = document.getElementById('dropdownTable');
        let btn_claim = document.getElementById('dropdownClaim');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });

        btn_claim.addEventListener('click', function() {
            dropdown_menu[1].classList.toggle('show');
        });
    } );

    $(document).ready(function() {
        let modal = document.getElementsByClassName('modal');
        
        for (const item of modal) {
            item.addEventListener('show.bs.modal', function() {
                // remove z-index-0 from nearest card class
                item.closest('.card').classList.remove('z-index-0');
            });
            item.addEventListener('hidden.bs.modal', function() {
                // add z-index-0 from nearest card class
                item.closest('.card').classList.add('z-index-0');
            });
        }
    });
</script>
{% endblock javascripts %}
