{% extends 'layouts/base.html' %}

{% block title %} Add New Claim {% endblock title %}

{% block content %}

{% load humanize %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-6">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8 d-flex align-items-center">
                                <h5 class="mb-2">Add New Claim {% if selected_program != '0' %}- Program No. {{ selected_program }}{% endif %}</h5>
                            </div>
                            <div class="col-sm-4 text-end">
                                <button type="submit" class="btn btn-sm bg-gradient-danger mb-0" {% if no_save %}disabled{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'claim-index' 'open' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="additional_proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Additional Proposal</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <div class="pl-lg-0">
                                        <div class="row">
                                            <div class="row mt-2">
                                                <div class="col-md-12">
                                                    <div class="shadow-none">
                                                        <label for="id_proposal">Proposal No.</label>
                                                        <select name="add_proposal" id="select_addprop" class="form-control form-select-sm" {% if add_prop == '1' %}required{% endif %}>
                                                            <option value="">Select Proposal</option>
                                                            {% for item in add_proposals %}
                                                            <option value="{{ item.proposal_id }}">{{ item.proposal_id }} - Balance: {{ item.balance|intcomma }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="shadow-none">
                                                        <label for="id_amount">Amount</label>
                                                        <input type="text" name="additional_amount" id="additional_amount" class="form-control form-control-sm" value="{{ difference|intcomma }}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" id="addprop_cancel" data-dismiss="modal">Cancel</button>
                                    <button type="submit"
                                        class="btn btn-sm bg-gradient-danger text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0 mt-2">
                            {% if message %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% if form.errors %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                {{ form.area }}
                                {{ form.claim_id }}
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.claim_date.label_tag }}
                                        {{ form.claim_date }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        <label for="id_proposal">Proposal No.</label>
                                        <input type="text" name="proposal" id="id_proposal" class="form-control form-control-sm" value="{{ program.proposal.proposal_id }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="shadow-none">
                                        <label for="id_program">Program Name</label>
                                        <input type="text" name="program" id="id_program" class="form-control form-control-sm" value="{{ program.proposal.program_name }}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.invoice.label_tag }}
                                        {{ form.invoice }}
                                        <div class="text-sm text-danger">
                                            {{ form.invoice.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.invoice_date.label_tag }}
                                        {{ form.invoice_date }}
                                        <div class="text-sm text-danger">
                                            {{ form.invoice_date.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.due_date.label_tag }}
                                        {{ form.due_date }}
                                        <div class="text-sm text-danger">
                                            {{ form.due_date.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.amount.label_tag }}
                                        {{ form.amount }}
                                        <div class="text-sm text-danger">
                                            {{ form.amount.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.remarks.label_tag }}
                                    {{ form.remarks }}
                                    <div class="text-sm text-danger">
                                        {{ form.remarks.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="dialog-popup1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover cursor-pointer align-items-center mb-3" id="areaTable">
                            <thead>
                                <tr>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Select Area</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in area %}
                                <tr data-href="{% url 'claim-add' item.0 '0' '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'claim-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="dialog-popup2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title" id="exampleModalLabel">Select Distributor - Area: {{ selected_area }}</h6>
                </div>
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover cursor-pointer align-items-center mb-3" id="distributorTable">
                            <thead>
                                <tr>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Distributor ID</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Distributor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in distributors %}
                                <tr data-href="{% url 'claim-add' selected_area item.0 '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.0 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'claim-add' '0' '0' '0' %}" type="button" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
                    <a href="{% url 'claim-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal modal-lg fade" id="dialog-popup3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title" id="exampleModalLabel">Select Program - Distributor: {{ proposals.0.budget.budget_distributor.distributor_name }}</h6>
                </div>
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover cursor-pointer align-items-center mb-3" id="programTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Program</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Program Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in programs %}
                                <tr data-href="{% url 'claim-add' selected_area selected_distributor item.program_id %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.program_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.proposal.program_name|truncatechars:72 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'claim-add' selected_area '0' '0' %}" type="button" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
                    <a href="{% url 'claim-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    let selectedArea = "{{ selected_area }}";
    let selectedDistributor = "{{ selected_distributor }}";
    let selectedProgram = "{{ selected_program }}";
    let additionProposal = "{{ add_prop }}";
    let addPropCancel = document.getElementById('addprop_cancel');
    let selectAddProp = document.getElementById('select_addprop');
    
    if (selectedArea == "0") {
        $('#dialog-popup1').modal({
            backdrop: 'static',
            keyboard: false
        });
    } else if (selectedDistributor == "0") {
        $('#dialog-popup2').modal({
            backdrop: 'static',
            keyboard: false
        });
    } else if (selectedProgram == "0") {
        $('#dialog-popup3').modal({
            backdrop: 'static',
            keyboard: false
        });
    } else if (additionProposal == "1") {
        $('#additional_proposal').modal({
            backdrop: 'static',
            keyboard: false
        });
    }
    
    $(document).ready(function() {
        $('#areaTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "lengthChange": false,
        });
        $('#distributorTable').DataTable({
            "info": false,
            "lengthChange": false,
        });
        $('#programTable').DataTable({
            "info": false,
            "lengthChange": false,
        });
    });

    $(document).on('click', addPropCancel, function() {
        selectAddProp.removeAttribute('required');
    });

    $(document).on('click', 'tbody tr', function() {
        window.location = $(this).data('href');
    });
</script>
{% endblock javascripts %}
