{% extends 'layouts/base.html' %}

{% block title %} Claim List Awaiting Approval {% endblock title %}

{% block content %}

{% load humanize %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="mb-2">Claim List Awaiting Approval</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button id="btn-bulk-approve" type="button" class="btn btn-sm px-3 py-0 bg-gradient-danger my-1 disabled" data-bs-toggle="modal" data-bs-target="#confirm-approve"><i class="fas fa-check"></i>&nbsp;&nbsp;Bulk Approve</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="text-end mt-2">
                            <label for="select-all">Select All</label>&nbsp;&nbsp;
                            <input type="checkbox" id="select-all" class="cursor-pointer border mt-1 me-3 mb-0" />
                        </span>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="relTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Claim No.
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Date</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Distributor</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Channel</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">Amount</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr data-href="{% url 'claim-release-view' item.0 0 %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.0 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.1|date:"d M Y" }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.2 }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.3 }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.4|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.5 }}</h6>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="cursor-pointer border my-checkbox" name="check[]" id="check[]">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal fade" id="confirm-approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                            </div>
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to approve the selected claims?
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <a href="" role="button" id="bulk-approve" class="btn btn-sm bg-gradient-danger text-white">Approve</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('#relTable').DataTable();

        $('tbody tr td:not(:last-child)').on('click', function() {
            // Get the href from the parent row
            var href = $(this).parent().data('href');
            if(href) {
                window.location = href;
            }
        });

        var table = $('#relTable').DataTable();
        let btnBulkApprove = document.getElementById('btn-bulk-approve');
        
        $('#select-all').click(function(event) {  //on click 
            var checked = this.checked;
            table.column(6).nodes().to$().each(function() {
                if (checked) {
                    $(this).find('.my-checkbox').prop('checked', 'checked');
                    btnBulkApprove.classList.remove('disabled');
                } else {
                    $(this).find('.my-checkbox').prop('checked', '');
                    btnBulkApprove.classList.add('disabled');
                }
            });
            // check current page number
            var page = table.page.info().page;
            table.draw();
            table.page(page).draw('page');
        });

        // check if all checkboxes are checked
        table.on('click', '.my-checkbox', function() {
            var checked = true;
            var anyChecked = false;
            table.column(6).nodes().to$().each(function() {
                if (!$(this).find('.my-checkbox').prop('checked')) {
                    checked = false;
                } else {
                    anyChecked = true;
                }
            });
            $('#select-all').prop('checked', checked);

            // Enable or disable btnBulkClose based on whether any checkboxes are checked
            if (anyChecked) {
                btnBulkApprove.classList.remove('disabled');
            } else {
                btnBulkApprove.classList.add('disabled');
            }
        });

        let bulkApprove = document.getElementById('bulk-approve');
        bulkApprove.addEventListener("click", function() {
            let claimNos = [];

            table.column(6).nodes().to$().each(function() {
                if ($(this).find('.my-checkbox').prop('checked')) {
                    let claimNo = $(this).closest('tr').find('td').eq(0).text();
                    claimNos.push(claimNo.trim()); // remove spaces
                }
            });
            let url = "{% url 'claim-release-bulk-approve' %}?claim_nos=" + claimNos;
            bulkApprove.href = url;
        });
    });
</script>

{% endblock javascripts %}
