{% extends 'layouts/base.html' %}

{% block title %} View Claim {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'claim-release-update' data.claim_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-6">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h5 class="mb-2">Claim No. {{ data.claim_id }}</h5>
                            </div>
                            <div class="col-6 text-end">
                                <a href="{% if crud == 'view' and is_revise == 0 %}{% url 'claim-release-index' %}{% else %}{% if crud == 'update' %}{% url 'claim-release-view' data.claim_id 1 %}{% else %}{% url 'claim-release-view' data.claim_id 0 %}{% endif %}{% endif %}" class="btn btn-sm px-3 bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' and is_revise == 0 %}Back{% else %}Cancel{% endif %}</a>
                                <button type="button" class="btn btn-sm px-3 bg-gradient-dark mb-0 {% if not btn_release.approve %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-approve"><i class="fas fa-check"></i>&nbsp;&nbsp;Approve</button>
                                <a href="{% if is_revise == 0 %}{% url 'claim-release-view' data.claim_id 1 %}{% else %}{% url 'claim-release-update' data.claim_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0 px-4 {% if not btn_release.revise %}disabled{% endif %} {% if approved == 'Y' %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;{% if is_revise == 0 %}Revise{% else %}Edit{% endif %}</a>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#revise-note"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-dark mb-0 {% if not btn_release.returned %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-return"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Return</button>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-danger mb-0 {% if not btn_release.reject %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-reject"><i class="fas fa-times"></i>&nbsp;&nbsp;Reject</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="additional_proposal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Additional Proposal</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <div class="pl-lg-0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="shadow-none">
                                                    <label for="id_proposal">Proposal No.</label>
                                                    <select name="add_proposals" id="select_addprop" class="form-control form-select-sm" {% if add_prop == '1' %}required{% endif %}>
                                                        <option value="">Select Proposal</option>
                                                        {% for item in add_proposals %}
                                                        <option value="{{ item.proposal_id }}">{{ item.proposal_id }} - Balance: {{ item.balance|intcomma }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div class="shadow-none">
                                                    <label for="id_amount">Amount</label>
                                                    <input type="text" name="add_amount" id="add_amount" class="form-control form-control-sm" value="{{ difference|intcomma }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-dismiss="modal" id="addprop_cancel">Cancel</button>
                                    <button type="submit"
                                        class="btn btn-sm bg-gradient-danger text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to approve claim no: <strong>{{ data.claim_id }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'claim-release-approve' data.claim_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Approve</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="revise-note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Revise Notes</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <div class="pl-lg-0">
                                        <div class="input-group">
                                            <textarea class="form-control text-body" name="revise_note" aria-label="Revise Note" placeholder="Your note here ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit"
                                        class="btn btn-sm bg-gradient-danger text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="approval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Approval Status</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <table class="table border cell-border align-items-center mb-0" id="releaseTable">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in approval %}
                                        <tr>
                                            <td class="d-none">
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm">{{ item.sequence }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm" data-toggle="tooltip" data-original-title="{{ item.claim_approval_name }}">{{ item.claim_approval_position }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm">{% if item.claim_approval_date == NONE %}Waiting for approval ... {% else %}{{ item.claim_approval_date }}{% endif %}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <i class="mb-0 cursor-default text-sm fas {% if item.claim_approval_status == 'Y' %}fa-check text-danger{% else %}fa-clock{% endif %}"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message != '0' and crud == 'update' %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                {{ form.area }}
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.claim_date.label_tag }}
                                        {{ form.claim_date }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        <label for="id_proposal">Proposal No.</label>
                                        <input type="text" name="proposal" id="id_proposal" class="form-control form-control-sm" value="{{ program.proposal.proposal_id }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="shadow-none">
                                        <label for="id_program">Program Name</label>
                                        <input type="text" name="program" id="id_program" class="form-control form-control-sm" value="{{ program.proposal.program_name }}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.invoice.label_tag }}
                                        {{ form.invoice }}
                                        <div class="text-sm text-danger">
                                            {{ form.invoice.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.invoice_date.label_tag }}
                                        {{ form.invoice_date }}
                                        <div class="text-sm text-danger">
                                            {{ form.invoice_date.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.due_date.label_tag }}
                                        {{ form.due_date }}
                                        <div class="text-sm text-danger">
                                            {{ form.due_date.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.amount.label_tag }}
                                        <input type="text" name="amount" id="id_amount" class="form-control form-control-sm" value="{% if crud == 'view' %}{{ form.amount.value|intcomma }}{% else %}{{ form.amount.value }}{% endif %}" {% if crud == 'view' %}readonly{% endif %}>
                                        <div class="text-sm text-danger">
                                            {{ form.amount.errors }}
                                        </div>
                                    </div>
                                </div>
                                {% if crud == 'update' %}
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        <label></label>
                                        <div class="form-group shadow-none mt-2 mb-0 ms-1">
                                            <input type="checkbox" class="border mt-1" name="is_tax" {% if data.is_tax %}checked{% endif %} {% if crud == 'view' %}disabled{% endif %}/>&nbsp;&nbsp;<label class="form-control-label">Using Tax</label>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-4 {% if crud != 'view' %}d-none{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.additional_proposal.label_tag }}
                                        <input type="text" name="add_proposal" id="id_additional_proposal" class="form-control form-control-sm" value="{{ data.additional_proposal }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2 {% if crud != 'view' %}d-none{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.additional_amount.label_tag }}
                                        <input type="text" name="add_amount" id="id_additional_amount" class="form-control form-control-sm" value="{{ data.additional_amount|intcomma }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2 {% if crud != 'view' %}d-none{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.tax.label_tag }}
                                        <input type="text" name="tax" id="id_tax" class="form-control form-control-sm" value="{{ form.tax.value|intcomma }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2 {% if crud != 'view' %}d-none{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.total.label_tag }}
                                        <input type="text" name="total" id="id_total" class="form-control form-control-sm" value="{{ form.total.value|intcomma }}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ form.remarks.label_tag }}
                                    {{ form.remarks }}
                                    <div class="text-sm text-danger">
                                        {{ form.remarks.errors }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="shadow-none">
                                        {{ form.depo.label_tag }}
                                        {{ form.depo }}
                                        <div class="text-sm text-danger">
                                            {{ form.depo.errors }}
                                        </div>
                                    </div>
                                    <div class="shadow-none">
                                        {{ form.claim_period.label_tag }}
                                        {{ form.claim_period }}
                                        <div class="text-sm text-danger">
                                            {{ form.claim_period.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal fade" id="confirm-return" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                        </div>
                        <form method="post" action="{% url 'claim-release-return' data.claim_id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to return claim no. <strong>{{ data.claim_id }}</strong>?
                                <div class="input-group mt-3">
                                    <textarea class="form-control text-body" name="return_note" aria-label="Return Note"
                                        placeholder="Your note here ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-sm bg-gradient-danger text-white">Return</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirm-reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                        </div>
                        <form method="post" action="{% url 'claim-release-reject' data.claim_id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to reject claim no. <strong>{{ data.claim_id }}</strong>?
                                <div class="input-group mt-3">
                                    <textarea class="form-control text-body" name="reject_note" aria-label="Reject Note"
                                        placeholder="Your note here ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-sm bg-gradient-danger text-white">Reject</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    let additionProposal = "{{ add_prop }}";
    let addPropCancel = document.getElementById('addprop_cancel');
    let selectAddProp = document.getElementById('select_addprop');

    if (additionProposal == "1") {
        $('#additional_proposal').modal();
    }
    
    $(document).ready( function () {
        $('#releaseTable').DataTable({
            'searching': false,
            'lengthChange': false,
            'paging': false,
            'info': false,
            'cell-border': true,
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (var button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );

    $(document).on('click', addPropCancel, function() {
        selectAddProp.removeAttribute('required');
    });
</script>
{% endblock javascripts %}
