{% extends 'layouts/base.html' %}

{% block title %} Closing {% endblock title %}

{% block content %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'closing' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-4">Closing</h4>
                            </div>
                            <div class="col-6 text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2 {% if message != '0' %}d-none{% endif %}">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><button type="submit" class="dropdown-item border-radius-md text-body">Process</button></li>
                                    </ul>
                                </div>
                                {% else %}
                                <button type="submit" class="btn btn-sm bg-gradient-danger mb-0" {% if message != "0" %}disabled{% endif %}><i class="fas fa-calendar-check-o"></i>&nbsp;&nbsp;Process</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label for="year_closed" class="form-label">Year</label>
                                        <select name="year_closed" id="year_closed" class="form-control form-select-sm form-control-alternative" {% if crud == 'view' %}disabled{% endif %} {% if not request.user.is_superuser %}disabled{% endif %}>
                                            {% for year in years %}
                                            <option value="{{ year }}" {% if year == data.year_open %}selected{% endif %}>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.year_closed.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        <label for="month_closed" class="form-label">Month</label>
                                        <select name="month_closed" id="month_closed" class="form-control form-select-sm form-control-alternative" {% if crud == 'view' %}disabled{% endif %} {% if not request.user.is_superuser %}disabled{% endif %}>
                                            {% for month in months %}
                                            <option value="{{ month }}" {% if month == data.month_open %}selected{% endif %}>{{ month }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.month_closed.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="closing-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Warning</h5>
                </div>
                <div class="modal-body border-bottom-0">
                    {{ message }}
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-sm bg-gradient-dark mb-0" data-dismiss="modal"><i class="fas fa-check"></i>&nbsp;&nbsp;Ok</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let message = "{{ message }}";
    if (message != '0') {
        $('#closing-popup').modal({
            backdrop: 'static',
            keyboard: false
        });
    }

    $('document').ready(function () {
        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });
    });

    $(document).ready(function() {
        let modal = document.getElementsByClassName('modal');
        
        for (const item of modal) {
            item.addEventListener('show.bs.modal', function() {
                // remove z-index-0 from nearest card class
                item.closest('.card').classList.remove('z-index-0');
            });
            item.addEventListener('hidden.bs.modal', function() {
                // add z-index-0 from nearest card class
                item.closest('.card').classList.add('z-index-0');
            });
        }
    });
</script>
{% endblock javascripts %}