{% extends 'layouts/base.html' %}

{% block title %} Closing Period {% endblock title %}

{% block content %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'closing-update' data.document %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">Document: {{ data.document }}</h4>
                            </div>
                            <div class="col-6 text-end">
                                <a href="{% if crud == 'view' %}{% url 'closing-index' %}{% else %}{% url 'closing-view' data.document %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Back{% else %}Cancel{% endif %}</a>
                                <a href="{% url 'closing-update' data.document %}" class="btn btn-sm bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn btn-sm bg-gradient-danger mb-0 {% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.document }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.document }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to delete document <strong>{{ data.document }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'closing-delete' data.document %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.year_closed.label_tag }}
                                        <select name="year_closed" id="year_closed" class="form-control form-select-sm form-control-alternative" {% if crud == 'view' %}disabled{% endif %}>
                                            {% for year in years %}
                                            <option value="{{ year }}" {% if year == data.year_closed %}selected{% endif %}>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.year_closed.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.month_closed.label_tag }}
                                        <select name="month_closed" id="month_closed" class="form-control form-select-sm form-control-alternative" {% if crud == 'view' %}disabled{% endif %}>
                                            {% for month in months %}
                                            <option value="{{ month }}" {% if month == data.month_closed %}selected{% endif %}>{{ month }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.month_closed.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.year_open.label_tag }}
                                        <select name="year_open" id="year_open" class="form-control form-select-sm form-control-alternative" {% if crud == 'view' %}disabled{% endif %}>
                                            {% for year in years %}
                                            <option value="{{ year }}" {% if year == data.year_open %}selected{% endif %}>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.year_open.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.month_open.label_tag }}
                                        <select name="month_open" id="month_open" class="form-control form-select-sm form-control-alternative" {% if crud == 'view' %}disabled{% endif %}>
                                            {% for month in months %}
                                            <option value="{{ month }}" {% if month == data.month_open %}selected{% endif %}>{{ month }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.month_open.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
