{% extends 'layouts/base.html' %}

{% block title %} Add New Distributor {% endblock title %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'distributor-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h3 class="mb-0">Add New Distributor</h3>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn bg-gradient-danger mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'distributor-index' %}" class="btn bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message %}
                            <div class="alert alert-danger text-white">
                                {{ message }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Distributor ID</label>
                                        {{ form.distributor_id }}
                                        <label class="text-muted text-xs">
                                            <span class="text-danger">*</span> 5 digits distributor shortname.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Distributor Name</label>
                                        {{ form.distributor_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}