{% extends 'layouts/base.html' %}

{% block title %} View Item {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Item</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'item-view' data.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-7">
                                <h3 class="mb-0">Item: {{ data.nama }}</h3>
                            </div>
                            <div class="col-5 text-right">
                                <button type="button" class="btn btn-md btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#confirm-{{ data.id }}">Hapus
                                <button type="submit" class="btn btn-md btn-primary">Update</button>
                                <a href="{% url 'item-index' %}" class="btn btn-md btn-default">Kembali</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Konfirmasi</h5>
                                </div>
                                <div class="modal-body">
                                    Anda yakin ingin menghapus item <strong>{{ data.nama }}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Batal</button>
                                    <a href="{% url 'item-delete' data.id %}" role="button" class="btn bg-gradient-primary text-white">Hapus
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Nama Item</label>
                                        {{ form.nama }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Kategori</label>
                                        <select name="kategori" class="form-control">
                                            {% for kat in kategori %}
                                            <option value="{{ kat.id }}" {% if kat.id == data.kategori.id %} selected {% endif %}>{{ kat.nama }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
