{% extends 'layouts/base.html' %}

{% block title %} Menu View {% endblock title %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'menu-update' data.menu_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h5 class="mb-0">Menu ID: {{ data.menu_id }}</h5>
                            </div>
                            <div class="col-6 text-end">
                                <a href="{% if crud == 'view' %}{% url 'menu-index' %}{% else %}{% url 'menu-view' data.menu_id %}{% endif %}" class="btn bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Back{% else %}Cancel{% endif %}</a>
                                <a href="{% url 'menu-update' data.menu_id %}" class="btn bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn bg-gradient-danger mb-0 {% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.menu_id }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.menu_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to delete menu <strong>{{ data.menu_name }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'menu-delete' data.menu_id %}" role="button" class="btn bg-gradient-danger text-white">Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Menu Name</label>
                                        {{ form.menu_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.menu_name.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Description</label>
                                        {{ form.menu_remark }}
                                        <div class="text-sm text-danger">
                                            {{ form.menu_remark.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
