{% extends 'layouts/base.html' %}

{% block title %} Add New Position {% endblock title %}

{% block content %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'position-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">Add New Position</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'position-index' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.position_id.label_tag }}{{ form.position_id }}
                                        <label class="text-muted text-xs">
                                            <span class="text-danger">*</span> {{ form.position_id.help_text }}
                                        </label>
                                        <div class="text-sm text-danger">
                                            {{ form.position_id.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.position_name.label_tag }}{{ form.position_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.position_name.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}