{% extends 'layouts/base.html' %}

{% block title %} Program List {% endblock title %}

{% block content %}

{% load humanize %}

{% load user_agents %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card {% if request|is_mobile %}mb-6{% else %}mb-4{% endif %} p-4 z-index-0">
                <div class="row mb-4">
                    <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                        <h4 class="mb-2">Program List</h4>
                    </div>
                    <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                        {% if request|is_mobile %}
                        <div class="dropdown float-lg-end pe-2 {% if not btn.add and not request.user.is_superuser %}d-none{% endif %}">
                            <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                <li><a class="dropdown-item border-radius-md" href="{% url 'program-add' '0' '0' '0' 0 %}">Add New Program</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <a class="btn btn-sm bg-gradient-danger mb-0 {% if not btn.add and not request.user.is_superuser %}disabled{% endif %}" href="{% url 'program-add' '0' '0' '0' 0 %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add New Program</a>
                        {% endif %}
                    </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if request|is_mobile %}px-2 py-1 mt-2{% endif %} {% if tab == 'open' %}active{% endif %}" id="open-tab" data-bs-toggle="tab" data-bs-target="#open-tab-pane" type="button"
                            role="tab" aria-controls="open-tab-pane" aria-selected="true">Completed{% if open_count > 0 %}{% if request|is_mobile %}<span class="badge bg-gray-500 rounded-pill p-1 ms-2"><span class="visually-hidden"></span></span>{% else %}<span class="badge rounded-pill badge-notification bg-gray-400 ms-2 text-black-50">{% if open_count > 999 %}999+{% else %}{{ open_count }}{% endif %}</span>{% endif %}{% endif %}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if request|is_mobile %}px-2 py-1 mt-2{% endif %} {% if tab == 'draft' %}active{% endif %}" id="draft-tab" data-bs-toggle="tab" data-bs-target="#draft-tab-pane" type="button"
                            role="tab" aria-controls="draft-tab-pane" aria-selected="false">Draft{% if draft_count > 0 %}{% if request|is_mobile %}<span class="badge bg-gray-500 rounded-pill p-1 ms-2"><span class="visually-hidden"></span></span>{% else %}<span class="badge rounded-pill badge-notification bg-gray-400 ms-2 text-black-50">{{ draft_count }}</span>{% endif %}{% endif %}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if request|is_mobile %}px-2 py-1 mt-2{% endif %} {% if tab == 'inapproval' %}active{% endif %}" id="inapproval-tab" data-bs-toggle="tab" data-bs-target="#inapproval-tab-pane" type="button"
                            role="tab" aria-controls="inapproval-tab-pane" aria-selected="false">In Approval{% if inapproval_count > 0 %}{% if request|is_mobile %}<span class="badge bg-gray-500 rounded-pill p-1 ms-2"><span class="visually-hidden"></span></span>{% else %}<span class="badge rounded-pill badge-notification bg-gray-400 ms-2 text-black-50">{{ inapproval_count }}</span>{% endif %}{% endif %}</button>
                    </li>
                </ul>
                <div class="tab-content pt-4" id="myTabContent">
                    <div class="tab-pane fade {% if tab == 'open' %}show active{% endif %}" id="open-tab-pane" role="tabpanel" aria-labelledby="open-tab" tabindex="0">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="openTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Program No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Date</th>
                                            <th class="text-uppercase text-Usecondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Distributor</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Channel</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in opens %}
                                        <tr data-href="{% url 'program-view' 'open' item.program_id %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.program_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.program_date|date:"d M Y" }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.proposal.budget.budget_distributor }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.proposal.channel }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">COMPLETED</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if tab == 'draft' %}show active{% endif %}" id="draft-tab-pane" role="tabpanel" aria-labelledby="draft-tab" tabindex="1">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="draftTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Program No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Date</th>
                                            <th class="text-uppercase text-Usecondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Distributor</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Channel</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in drafts %}
                                        <tr data-href="{% url 'program-view' 'draft' item.program_id %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.program_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.program_date|date:"d M Y" }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.proposal.budget.budget_distributor }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.proposal.channel }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.status }}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if tab == 'inapproval' %}show active{% endif %}" id="inapproval-tab-pane" role="tabpanel" aria-labelledby="inapproval-tab" tabindex="3">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="inapprovalTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Program No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Date</th>
                                            <th class="text-uppercase text-Usecondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Distributor</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Channel</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Wait for Approval</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in inapprovals %}
                                        <tr data-href="{% url 'program-view' 'inapproval' item.0 %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.0 }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.1|date:"d M Y" }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.2 }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.3 }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.4 }}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#openTable').DataTable({
                scrollX: true,
                order: [[0, 'desc']],
                lengthChange: false,
            });
            $('#draftTable').DataTable({
                scrollX: true,
                order: [[0, 'desc']],
                lengthChange: false,
            });
            $('#inapprovalTable').DataTable({
                scrollX: true,
                order: [[0, 'desc']],
                lengthChange: false,
            });
        } else {
            new DataTable('#openTable', {
                // scrollX: true,
                'order': [[0, 'desc']],
                'lengthMenu': [[10, 25, 50, 100, 500, -1], [10, 25, 50, 100, 500, 'All']],
            });

            new DataTable('#draftTable', {
                // scrollX: true,
                order: [[0, 'desc']],
            });
            
            new DataTable('#inapprovalTable', {
                // scrollX: true,
                order: [[0, 'desc']],
            });
        }

        $(document).on('click', 'tbody tr', function() {
            window.location = $(this).data('href');
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }

        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });
    } );

    $(document).ready(function() {
        let modal = document.getElementsByClassName('modal');
        
        for (const item of modal) {
            item.addEventListener('show.bs.modal', function() {
                // remove z-index-0 from nearest card class
                item.closest('.card').classList.remove('z-index-0');
            });
            item.addEventListener('hidden.bs.modal', function() {
                // add z-index-0 from nearest card class
                item.closest('.card').classList.add('z-index-0');
            });
        }
    });
</script>

{% endblock javascripts %}
