{% extends 'layouts/base.html' %}

{% block title %} Add New Program {% endblock title %}

{% block content %}

{% load humanize %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'program-add' selected_area selected_distributor selected_proposal %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-6">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8 d-flex align-items-center">
                                <h5 class="mb-2">Add New Program {% if selected_proposal != '0' %}- Proposal No. {{ selected_proposal }}{% endif %}</h5>
                            </div>
                            <div class="col-sm-4 text-end">
                                <button type="submit" class="btn btn-sm bg-gradient-danger mb-0" {% if no_save %}disabled{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'program-index' 'open' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0 mt-2">
                            {% if message %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% if form.errors %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.deadline.label_tag }}
                                        {{ form.deadline }}
                                        <div class="text-sm text-danger">
                                            {{ form.deadline.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                {{ form.area }}
                                <div class="col-md-12">
                                    <div class="shadow-none">
                                        {{ form.content }}
                                        <div class="text-sm text-danger">
                                            {{ form.content.errors }}
                                        </div>
                                        <div class="d-none">
                                            {{ form.approval }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="dialog-popup1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover cursor-pointer align-items-center mb-3" id="areaTable">
                            <thead>
                                <tr>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Select Area</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in area %}
                                <tr data-href="{% url 'program-add' item.0 '0' '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'program-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="dialog-popup2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title" id="exampleModalLabel">Select Distributor - Area: {{ selected_area }}</h6>
                </div>
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover cursor-pointer align-items-center mb-3" id="distributorTable">
                            <thead>
                                <tr>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Distributor ID</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Distributor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in distributors %}
                                <tr data-href="{% url 'program-add' selected_area item.0 '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.0 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'program-add' '0' '0' '0' %}" type="button" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
                    <a href="{% url 'program-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="dialog-popup3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title" id="exampleModalLabel">Select Proposal - Distributor: {{ proposals.0.budget.budget_distributor.distributor_name }}</h6>
                </div>
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover cursor-pointer align-items-center mb-3" id="proposalTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Proposal</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in proposals %}
                                <tr data-href="{% url 'program-add' selected_area selected_distributor item.proposal_id %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.proposal_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.balance|intcomma }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'program-add' selected_area '0' '0' %}" type="button" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
                    <a href="{% url 'program-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    let selectedArea = "{{ selected_area }}";
    let selectedDistributor = "{{ selected_distributor }}";
    let selectedProposal = "{{ selected_proposal }}";
    
    if (selectedArea == "0") {
        $('#dialog-popup1').modal({
            backdrop: 'static',
            keyboard: false
        });
    } else if (selectedDistributor == "0") {
        $('#dialog-popup2').modal({
            backdrop: 'static',
            keyboard: false
        });
    } else if (selectedProposal == "0") {
        $('#dialog-popup3').modal({
            backdrop: 'static',
            keyboard: false
        });
    }
    
    $(document).ready(function() {
        $('#areaTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "lengthChange": false,
        });
        $('#distributorTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "lengthChange": false,
        });
        $('#proposalTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "lengthChange": false,
        });
    });

    $(document).on('click', 'tbody tr', function() {
        window.location = $(this).data('href');
    });

    // tinyMCE.init({
    //     selector: '#id_content',    
    //     readonly: 1,
    // });
</script>
{% endblock javascripts %}
