<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">

    <title>
        Integrated System | ABC President Indonesia
    </title>

    <!-- Favicon - loaded as static -->
    <link rel="icon" href="https://ksisolusi.com/apps/static/img/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    
    <style>
        body {
            height: 297mm;
            width: 210mm;
            /* to centre page on screen*/
            margin-left: auto;
            margin-right: auto;
            font-family: 'Helvetica', Arial, sans-serif;
            font-size: 12px !important;
            padding-left: 6mm;
            padding-right: 3mm;
        }
    </style>
    {{ form.media }}
</head>

<body class="body-print">
    <div class="container">
        <div style="text-align: center;">
            <img height="100" width="100" src="https://ksisolusi.com/apps/static/img/favicon.png" alt="Logo" />
        </div>
        {{ data.content|safe }}
        {{ data.approval|safe }}
    </div>
</body>

</html>
