{% extends 'layouts/base.html' %}

{% block title %} View Program {% endblock title %}

{% block content %}

{% load my_filter %}

{% load humanize %}

{% load mathfilters %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'program-release-update' data.program_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card mb-6">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h5 class="mb-2">Program No. {{ data.program_id }}</h5>
                            </div>
                            <div class="col-6 text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="{% if crud == 'view' and is_revise == 0 %}{% url 'program-release-index' %}{% else %}{% if crud == 'update' %}{% url 'program-release-view' data.program_id 1 %}{% else %}{% url 'program-release-view' data.program_id 0 %}{% endif %}{% endif %}">{% if crud == 'view' and is_revise == 0 %}Back{% else %}Cancel{% endif %}</a></li>
                                        <li><a class="dropdown-item border-radius-md" {% if not btn_release.approve %}hidden{% else %}{% if crud == 'update' or is_revise == 1 %}hidden{% endif %}{% endif %} {% if approved == 'Y' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-approve">Approve</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="{% if is_revise == 0 %}{% url 'program-release-view' data.program_id 1 %}{% else %}{% url 'program-release-update' data.program_id %}{% endif %}" {% if not btn_release.revise %}hidden{% endif %} {% if approved == 'Y' %}hidden{% endif %} {% if crud == 'update' %}hidden{% endif %}>{% if is_revise == 0 %}Revise{% else %}Edit{% endif %}</a></li>
                                        <li><a class="dropdown-item border-radius-md" {% if crud == 'view' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#revise-note">Save</a></li>
                                        <li><a class="dropdown-item border-radius-md" {% if not btn_release.returned %}hidden{% else %}{% if crud == 'update' or is_revise == 1 %}hidden{% endif %}{% endif %} {% if approved == 'Y' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-return">Return</a></li>
                                        <li><a class="dropdown-item border-radius-md" {% if not btn_release.reject %}hidden{% else %}{% if crud == 'update' or is_revise == 1 %}hidden{% endif %}{% endif %} {% if approved == 'Y' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#confirm-reject">Reject</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <a href="{% if crud == 'view' and is_revise == 0 %}{% url 'program-release-index' %}{% else %}{% if crud == 'update' %}{% url 'program-release-view' data.program_id 1 %}{% else %}{% url 'program-release-view' data.program_id 0 %}{% endif %}{% endif %}" class="btn btn-sm px-3 bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' and is_revise == 0 %}Back{% else %}Cancel{% endif %}</a>
                                <button type="button" class="btn btn-sm px-3 bg-gradient-dark mb-0 {% if not btn_release.approve %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-approve"><i class="fas fa-check"></i>&nbsp;&nbsp;Approve</button>
                                <a href="{% if is_revise == 0 %}{% url 'program-release-view' data.program_id 1 %}{% else %}{% url 'program-release-update' data.program_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0 px-4 {% if not btn_release.revise %}disabled{% endif %} {% if approved == 'Y' %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;{% if is_revise == 0 %}Revise{% else %}Edit{% endif %}</a>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %} data-bs-toggle="modal" data-bs-target="#revise-note"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-dark mb-0 {% if not btn_release.returned %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-return"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Return</button>
                                <button type="button" class="btn btn-sm px-4 bg-gradient-danger mb-0 {% if not btn_release.reject %}disabled{% else %}{% if crud == 'update' or is_revise == 1 %}disabled{% endif %}{% endif %} {% if approved == 'Y' %}disabled{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-reject"><i class="fas fa-times"></i>&nbsp;&nbsp;Reject</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to approve program no: <strong>{{ data.program_id }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'program-release-approve' data.program_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Approve</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="revise-note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Revise Notes</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <div class="pl-lg-0">
                                        <div class="input-group">
                                            <textarea class="form-control text-body" name="revise_note" aria-label="Revise Note" placeholder="Your note here ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit"
                                        class="btn btn-sm bg-gradient-danger text-white {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="approval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Approval Status</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    <table class="table border cell-border align-items-center mb-0" id="releaseTable">
                                        <thead>
                                            <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in approval %}
                                        <tr>
                                            <td class="d-none">
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm">{{ item.sequence }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm" data-toggle="tooltip" data-original-title="{{ item.program_approval_name }}">{{ item.program_approval_position }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 cursor-default text-sm">{% if item.program_approval_date == NONE %}Waiting for approval ... {% else %}{{ item.program_approval_date }}{% endif %}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <i class="mb-0 cursor-default text-sm fas {% if item.program_approval_status == 'Y' %}fa-check text-danger{% else %}fa-clock{% endif %}"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message != '0' and crud == 'update' %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            {% if msg %}
                            <div class="alert text-danger text-bg-light mt-2" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %}
                            <div class="row">
                                {{ form.area }}
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.deadline.label_tag }}
                                        {{ form.deadline }}
                                        <div class="text-sm text-danger">
                                            {{ form.deadline.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form.media }}
                            {% if crud == 'view' %}
                            <div class="row mt-3">
                                <div class="col-md-11">
                                    <div class="shadow-none border p-4">   
                                        {{ data.header|safe }}
                                        {{ data.content|safe }}
                                        {{ data.disclaimer|safe }}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="row mt-3">
                                <div class="col-md-11">
                                    <div class="shadow-none">   
                                        {{ form.header }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-11">
                                    <div class="shadow-none">   
                                        {{ form.content }}
                                        <div class="text-sm text-danger">
                                            {{ form.content.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-11">
                                    <div class="shadow-none">   
                                        {{ form.disclaimer }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal fade" id="confirm-return" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                        </div>
                        <form method="post" action="{% url 'program-release-return' data.program_id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to return program no. <strong>{{ data.program_id }}</strong>?
                                <div class="input-group mt-3">
                                    <textarea class="form-control text-body" name="return_note" aria-label="Return Note"
                                        placeholder="Your note here ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-sm bg-gradient-danger text-white">Return</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirm-reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                        </div>
                        <form method="post" action="{% url 'program-release-reject' data.program_id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to reject program no. <strong>{{ data.program_id }}</strong>?
                                <div class="input-group mt-3">
                                    <textarea class="form-control text-body" name="reject_note" aria-label="Reject Note"
                                        placeholder="Your note here ..."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-sm bg-gradient-danger text-white">Reject</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#releaseTable').DataTable({
            'searching': false,
            'lengthChange': false,
            'paging': false,
            'info': false,
            'cell-border': true,
        });

        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (var button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );

    tinyMCE.init({
        selector: '#id_header',    
        readonly: 1,
        width: '75%',
        height: 150,
        content_style: "body { font-size: 10pt; overflow: hidden; }", // Add overflow: hidden to disable scroll
        menubar: false,
        statusbar: false,
        toolbar: false,
        autoresize_min_height: 150,
        autoresize_max_height: 150,
        autoresize_bottom_margin: 0, // Keep this line to disable scroll
    });

    tinyMCE.init({
        selector: '#id_disclaimer',    
        readonly: 1,
        width: '75%',
        height: 100,
        content_style: "body { font-size: 10pt; }",
        menubar: false,
        statusbar: false,
        toolbar: false,        
    });
</script>
{% endblock javascripts %}
