{% extends 'layouts/base.html' %}

{% block title %} Proposal Available for Closing {% endblock title %}

{% block content %}

{% load humanize %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="mb-2">Proposal Available for Closing</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button id="btn-bulk-close" type="button" class="btn btn-sm px-3 py-0 bg-gradient-danger my-1 disabled" data-bs-toggle="modal" data-bs-target="#confirm-close"><i class="fas fa-times"></i>&nbsp;&nbsp;Bulk Close</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="text-end mt-2">
                            <label for="select-all">Select All</label>&nbsp;&nbsp;
                            <input type="checkbox" id="select-all" class="cursor-pointer border mt-1 me-3 mb-0" />
                        </span>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="closeTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Area</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Distributor</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proposal No.
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Program Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Channel</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">Total Cost</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">Balance</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr data-href="{% url 'proposal-view' 'closing' item.proposal_id '0' '0' '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.area }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.budget.budget_distributor.distributor_name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.proposal_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.program_name|truncatechars:15 }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.channel }}
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.total_cost|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.balance|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="cursor-pointer border" name="check[]" id="check[]">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal fade" id="confirm-close" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                            </div>
                            <div class="modal-body border-bottom-0">
                                Are you sure you want to close the selected proposals?
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-sm bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                <a href="" role="button" id="bulk-close" class="btn btn-sm bg-gradient-danger text-white">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
        $('#closeTable').DataTable();

        // Add click event to each cell in the row except the last one
        $('tbody tr td:not(:last-child)').on('click', function() {
            // Get the href from the parent row
            var href = $(this).parent().data('href');
            if(href) {
                window.location = href;
            }
        });

        let checks = document.getElementsByName('check[]');
        let selectAll = document.getElementById('select-all');
        let btnBulkClose = document.getElementById('btn-bulk-close');

        document.getElementById("select-all").addEventListener("click", function() {
            let count = 0;

            for (var check of checks) {
                check.checked = this.checked;
                if (check.checked) {
                    count++;
                }
            }

            if (count > 0) {
                btnBulkClose.classList.remove('disabled');
            } else {
                btnBulkClose.classList.add('disabled');
            }
        })

        for (let check of checks) {
            check.addEventListener("click", function() {
                let count = 0;

                for (let check of checks) {
                    if (check.checked) {
                        count++;
                    }
                }

                if (count > 0) {
                    btnBulkClose.classList.remove('disabled');
                } else {
                    btnBulkClose.classList.add('disabled');
                }

                if (count == checks.length) {
                    selectAll.checked = true;
                } else {
                    selectAll.checked = false;
                }
            });
        }

        let bulkClose = document.getElementById('bulk-close');
        bulkClose.addEventListener("click", function() {
            let checks = document.getElementsByName('check[]');
            let propNos = [];
            for (let check of checks) {
                if (check.checked) {
                    propNos.push(check.parentElement.parentElement.children[0].children[0].children[0].innerText);
                }
            }
            let url = "{% url 'proposal-bulk-close' %}?prop_nos=" + propNos;
            bulkClose.href = url;
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );
</script>

{% endblock javascripts %}
