{% extends 'layouts/base.html' %}

{% block title %} Proposal List {% endblock title %}

{% block content %}

{% load humanize %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="mb-2">Proposal Archive</h4>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if tab == 'close' %}active{% endif %}" id="close-tab" data-bs-toggle="tab" data-bs-target="#close-tab-pane" type="button"
                            role="tab" aria-controls="close-tab-pane" aria-selected="true">Close {% if close_count > 0 %}({{ close_count }}){% endif %}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if tab == 'reject' %}active{% endif %}" id="reject-tab" data-bs-toggle="tab" data-bs-target="#reject-tab-pane" type="button"
                            role="tab" aria-controls="reject-tab-pane" aria-selected="false">Reject {% if reject_count > 0 %}({{ reject_count }}){% endif %}</button>
                    </li>
                </ul>
                <div class="tab-content pt-4" id="myTabContent">
                    <div class="tab-pane fade {% if tab == 'close' %}show active{% endif %}" id="close-tab-pane" role="tabpanel" aria-labelledby="close-tab" tabindex="0">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="closeTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proposal No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Date</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Channel</th>
                                            <th class="text-uppercase text-Usecondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Division</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Total Cost</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in closes %}
                                        <tr data-href="{% url 'proposal-view' 'close' item.proposal_id '0' '0' '0' %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.proposal_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.proposal_date|date:"d M Y" }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.channel }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.division }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.total_cost|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.status }}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if tab == 'reject' %}show active{% endif %}" id="reject-tab-pane" role="tabpanel" aria-labelledby="reject-tab" tabindex="1">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="rejectTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proposal No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Date</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Channel</th>
                                            <th class="text-uppercase text-Usecondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Division</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Total Cost</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in rejects %}
                                        <tr data-href="{% url 'proposal-view' 'reject' item.proposal_id '0' '0' '0' %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.proposal_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.proposal_date|date:"d M Y" }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.channel }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.division }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.total_cost|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.status }}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
        $('#closeTable').DataTable();
        $('#rejectTable').DataTable();
        
        $(document).on('click', 'tbody tr', function() {
            window.location = $(this).data('href');
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );
</script>

{% endblock javascripts %}
