{% extends 'layouts/base.html' %}

{% block title %} Proposal Approval Matrix List {% endblock title %}

{% block content %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="mb-2">Proposal Approval List</h4>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Area
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Area Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr data-href="{% url 'proposal-matrix-view' item.area_id '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.area_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.area_name }}</h6>                   
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
      $('#myTable').DataTable();
      
    let btn = document.getElementsByClassName('paginate_button');
    for (var button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    });

    $(document).on('click', 'tbody tr', function() {
        window.location = $(this).data('href');
    });
</script>

{% endblock javascripts %}
