{% extends 'layouts/base.html' %}

{% block title %} Add New Propossal {% endblock title %}

{% block content %}

{% load humanize %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'proposal-add' selected_area selected_budget selected_channel %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8 d-flex align-items-center">
                                <h5 class="mb-2">Add New Proposal {% if selected_budget != '0' %}- Budget No. {{ selected_budget }}{% endif %} {% if selected_channel != '0' %}({{ selected_channel }}){% endif %}</h5>
                            </div>
                            <div class="col-sm-4 text-end">
                                <button type="submit" class="btn btn-sm bg-gradient-danger mb-0" {% if no_save %}disabled{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'proposal-index' 'open' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0 mt-2">
                            {% if message %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            <!-- {% if form.errors %}
                            <div class="alert text-danger text-sm text-bg-light" role="alert">
                                {{ msg }}
                            </div>
                            {% endif %} -->
                            <div class="row">
                                {{ form.proposal_id }}
                                {{ form.area }}
                                <div class="col-md-12">
                                    <div class="shadow-none">
                                        {{ form.program_name.label_tag }}
                                        {{ form.program_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.program_name.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.proposal_date.label_tag }}
                                        {{ form.proposal_date }}
                                        <div class="text-sm text-danger">
                                            {{ form.proposal_date.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">    
                                    <div class="shadow-none">
                                        {{ form.type.label_tag }}
                                        {{ form.type }}
                                        <div class="text-sm text-danger">
                                            {{ form.type.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="shadow-none">
                                        {{ form.division.label_tag }}
                                        <select name="division" id="division" class="form-control form-select-sm">
                                            <option value="">Select Division</option>
                                            {% for item in divs %}
                                            <option value="{{ item.division_id }}">{{ item.division_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="text-sm text-danger">
                                            {{ form.division.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.products.label_tag }}
                                        {{ form.products }}
                                        <div class="text-sm text-danger">
                                            {{ form.products.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    {{ form.period_start.label_tag }}
                                    {{ form.period_start }}
                                    <div class="text-sm text-danger">
                                        {{ form.period_start.errors }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    {{ form.period_end.label_tag }}
                                    {{ form.period_end }}
                                    <div class="text-sm text-danger">
                                        {{ form.period_end.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    {{ form.background.label_tag }}
                                    {{ form.background }}
                                    <div class="text-sm text-danger">
                                        {{ form.background.errors }}
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    {{ form.mechanism.label_tag }}
                                    {{ form.mechanism }}
                                    <div class="text-sm text-danger">
                                        {{ form.mechanism.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    {{ form.objectives.label_tag }}
                                    {{ form.objectives }}
                                    <div class="text-sm text-danger">
                                        {{ form.objectives.errors }}
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    {{ form.remarks.label_tag }}
                                    {{ form.remarks }}
                                    <div class="text-sm text-danger">
                                        {{ form.remarks.errors }}
                                    </div>
                                    <div class="form-group shadow-none mt-2 mb-0 me-1 text-end">
                                        <label class="form-control-label">Additional Proposal</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="border mt-1" name="additional"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="dialog-popup1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover cursor-pointer align-items-center mb-3" id="areaTable">
                            <thead>
                                <tr>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Select Area</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in area %}
                                <tr data-href="{% url 'proposal-add' item.0 '0' '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'proposal-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="dialog-popup2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title" id="exampleModalLabel">Select Budget - Area: {{ selected_area }}</h6>
                </div>
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover cursor-pointer align-items-center mb-3" id="budgetTable">
                            <thead>
                                <tr>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Distributor</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Budget</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in budgets %}
                                <tr data-href="{% url 'proposal-add' selected_area item.budget_id '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.budget_distributor.distributor_name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.budget_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'proposal-add' '0' '0' '0' %}" type="button" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
                    <a href="{% url 'proposal-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="dialog-popup3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h6 class="modal-title" id="exampleModalLabel">Select Channel - Budget No.: {{ selected_budget }}</h6>
                </div>
                <div class="modal-body border-bottom-0">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="channelTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Channel</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Percent</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-end">
                                        Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in budget_detail %}
                                <tr data-href="{% if item.budget_balance > 0 %}{% url 'proposal-add' selected_area item.budget_id item.budget_channel_id %}{% else %}#{% endif %}" {% if item.budget_balance > 0 %}class="cursor-pointer"{% endif %}>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.budget_channel_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_percent }}%</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.budget_balance|intcomma }}</h6>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex">
                    <a href="{% url 'proposal-add' selected_area '0' '0' %}" type="button" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-angle-left"></i>&nbsp;&nbsp;Back</a>
                    <a href="{% url 'proposal-index' 'open' %}" type="button" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</a>
                </div>             
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    let selectedArea = "{{ selected_area }}";
    let selectedBudget = "{{ selected_budget }}";
    let selectedChannel = "{{ selected_channel }}";
    if (selectedArea == "0") {
        $('#dialog-popup1').modal({
            backdrop: 'static',
            keyboard: false
        });
    } else if (selectedBudget == "0") {
        $('#dialog-popup2').modal({
            backdrop: 'static',
            keyboard: false
        });
    } else if (selectedChannel == "0") {
        $('#dialog-popup3').modal({
            backdrop: 'static',
            keyboard: false
        });
    }
    
    $(document).ready(function() {
        $('#areaTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "lengthChange": false,
        });
        $('#budgetTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "lengthChange": false,
        });
        $('#channelTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "lengthChange": false,
        });
    });

    $(document).on('click', 'tbody tr', function() {
        window.location = $(this).data('href');
    });
</script>
{% endblock javascripts %}
