{% extends 'layouts/base.html' %}

{% block title %} Proposal List Awaiting Approval {% endblock title %}

{% block content %}

{% load humanize %}

{% load user_agents %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-12 d-flex align-items-center">
                        <h4 class="mb-2">Proposal List Awaiting Approval</h4>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="openTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proposal No.
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Reference Proposal</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Date</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Channel</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Division</th>
                                    <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Total Cost</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr data-href="{% url 'proposal-release-view' item.0 '0' '0' '0' '0' %}" class="cursor-pointer">
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.0 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{% if item.6 %}{{ item.6 }}{% endif %}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.1|date:"d M Y" }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.2 }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.3 }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm text-end">{{ item.4|floatformat:0|intcomma }}</h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.5 }}</h6>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#openTable').DataTable({
                'lengthChange': false,
                'pageLength': 25,
                'scrollX': true,
            });
        } else {
            $('#openTable').DataTable();
        }
        
        $(document).on('click', 'tbody tr', function() {
            var href = $(this).data('href');
            if(href) { // Check if href data exists
                window.location = href;
            } else {
                console.log("No data in href");
            }
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );
</script>

{% endblock javascripts %}
