{% extends 'layouts/base.html' %}

{% block title %} Proposal List {% endblock title %}

{% block content %}

{% load humanize %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h4 class="mb-2">Proposal List</h4>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-sm bg-gradient-danger mb-0 {% if not btn.add and not request.user.is_superuser %}disabled{% endif %}" href="{% url 'proposal-add' '0' '0' '0' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add New Proposal</a>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if tab == 'open' %}active{% endif %}" id="open-tab" data-bs-toggle="tab" data-bs-target="#open-tab-pane" type="button"
                            role="tab" aria-controls="open-tab-pane" aria-selected="true">Completed {% if open_count > 0 %}({{ open_count }}){% endif %}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if tab == 'draft' %}active{% endif %}" id="draft-tab" data-bs-toggle="tab" data-bs-target="#draft-tab-pane" type="button"
                            role="tab" aria-controls="draft-tab-pane" aria-selected="false">Draft {% if draft_count > 0 %}({{ draft_count }}){% endif %}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-sm text-body {% if tab == 'inapproval' %}active{% endif %}" id="inapproval-tab" data-bs-toggle="tab" data-bs-target="#inapproval-tab-pane" type="button"
                            role="tab" aria-controls="inapproval-tab-pane" aria-selected="false">In Approval {% if inapproval_count > 0 %}({{ inapproval_count }}){% endif %}</button>
                    </li>
                </ul>
                <div class="tab-content pt-4" id="myTabContent">
                    <div class="tab-pane fade {% if tab == 'open' %}show active{% endif %}" id="open-tab-pane" role="tabpanel" aria-labelledby="open-tab" tabindex="0">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="openTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proposal No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Date</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Channel</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Total Cost</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Claim</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Balance</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in opens %}
                                        <tr data-href="{% url 'proposal-view' 'open' item.proposal_id '0' '0' '0' %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.proposal_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.proposal_date|date:"d M Y" }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.channel }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.total_cost|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.proposal_claim|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.balance|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">COMPLETED</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if tab == 'draft' %}show active{% endif %}" id="draft-tab-pane" role="tabpanel" aria-labelledby="draft-tab" tabindex="1">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="draftTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proposal No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Date</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Channel</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Total Cost</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Claim</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Balance</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in drafts %}
                                        <tr data-href="{% url 'proposal-view' 'draft' item.proposal_id '0' '0' '0' %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.proposal_id }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.proposal_date|date:"d M Y" }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.channel }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.total_cost|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.proposal_claim|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.balance|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.status }}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if tab == 'inapproval' %}show active{% endif %}" id="inapproval-tab-pane" role="tabpanel" aria-labelledby="inapproval-tab" tabindex="3">
                        <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table hover align-items-center mb-0" id="inapprovalTable">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Proposal No.
                                            </th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Date</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Channel</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Total Cost</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Claim</th>
                                            <th class="text-uppercase text-secondary text-xxs text-end font-weight-bolder opacity-7 ps-2">Balance</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Wait for Approval</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in inapprovals %}
                                        <tr data-href="{% url 'proposal-view' 'inapproval' item.0 '0' '0' '0' %}" class="cursor-pointer">
                                            <td>
                                                <div class="d-flex pe-2 py-0">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ item.0 }}</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.1|date:"d M Y" }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.2 }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.3|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.4|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm text-end">{{ item.5|floatformat:0|intcomma }}</h6>
                                            </td>
                                            <td>
                                                <h6 class="mb-0 text-sm">{{ item.6 }}</h6>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
        $('#openTable').DataTable();
        $('#draftTable').DataTable();
        $('#inapprovalTable').DataTable();

        $(document).on('click', 'tbody tr', function() {
            window.location = $(this).data('href');
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );
</script>

{% endblock javascripts %}
