{% extends 'layouts/base.html' %}

{% block title %} View Region {% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'region-update' data.region_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">Region ID: {{ data.region_id }}</h4>
                            </div>
                            <div class="col-6 text-end">
                                <a href="{% if crud == 'view' %}{% url 'region-index' %}{% else %}{% url 'region-view' data.region_id %}{% endif %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;{% if crud == 'view' %}Back{% else %}Cancel{% endif %}</a>
                                <a href="{% url 'region-update' data.region_id %}" class="btn btn-sm bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <button type="button" class="btn btn-sm bg-gradient-danger mb-0 {% if not btn.delete and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#confirm-{{ data.region_id }}"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-{{ data.region_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                </div>
                                <div class="modal-body border-bottom-0">
                                    Are you sure you want to delete region <strong>{{ data.region_name }}</strong>?
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-sm bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a href="{% url 'region-delete' data.region_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.region_name.label_tag }}{{ form.region_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card mt-2 mb-4 p-4">
                <div class="row mb-0">
                    <div class="col-6 d-flex align-items-center">
                        <h5 class="mb-0">Area List</h5>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn btn-sm bg-gradient-danger mb-0" data-bs-toggle="modal" data-bs-target="#dialog-popup" {% if not btn.edit and not request.user.is_superuser %}disabled{% else %}{% if crud == 'update' %}disabled{% endif %}{% endif %}><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Area</button>
                    </div>
                </div>
                <div class="modal fade" id="dialog-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">Select Area</h5>
                            </div>
                            <form method="post" action="{% url 'region-view' data.region_id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body border-bottom-0">
                                    <div class="table-responsive p-0">
                                        <table class="table align-items-center mb-0" id="areaTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                        Area</th>
                                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in areas %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex pe-2 py-1">
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" class="cursor-pointer border" name="checks[]" value="{{ item.0 }}" {% if item.2 %}checked{% endif %}/>                                                    
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn bg-gradient-danger text-white">Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Area</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in detail %}
                                <tr>
                                    <td>
                                        <div class="d-flex pe-2 py-0">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.area.area_name }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="btn-icon-only text-dark bg-transparent border-0" data-bs-toggle="modal" {% if btn.edit or request.user.is_superuser %}data-bs-target="#delete-{{ item.area_id }}"{% else %}disabled{% endif %} {% if crud == 'update' %}disabled{% endif %}><i class="fas fa-times-circle py-0"></i></button>
                                    </td>
                                    <div class="modal fade" id="delete-{{ item.area_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                                </div>
                                                <div class="modal-body border-bottom-0">
                                                    Are you sure you want to delete area <strong>{{ item.area.area_name }}</strong>?
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <a href="{% url 'region-view' item.region_id %}" role="button" class="btn btn-sm bg-gradient-dark">Cancel</a>
                                                    <a href="{% url 'region-detail-delete' item.region_id item.area_id %}" role="button" class="btn btn-sm bg-gradient-danger text-white">Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable(
            {
                "searching": false,
                "lengthChange": false,
            }
        );
        
        $('#areaTable').DataTable();

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );
</script>
{% endblock javascripts %}
