{% extends 'layouts/base.html' %}

{% block title %} Add New Region {% endblock title %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'region-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4  class="mb-2">Add New Region</h4>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'region-index' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <!-- {% if message %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                            {% endif %} -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="shadow-none">
                                        {{ form.region_id.label_tag }}{{ form.region_id }}
                                        <div class="text-sm text-danger">
                                            {{ form.region_id.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.region_name.label_tag }}{{ form.region_name }}
                                        <div class="text-sm text-danger">
                                            {{ form.region_name.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}