{% extends 'layouts/base.html' %}

{% block title %} Budget Summary Report {% endblock title %}

{% block content %}

{% load humanize %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <h4>Budget Summary Report</h4>
                    </div>
                    <!-- <div class="col-6 text-end">
                        <button class="btn btn-sm bg-gradient-danger mb-0" data-bs-toggle="modal" data-bs-target="#pop_filter"><i class="fas fa-filter"></i>&nbsp;&nbsp;Filter</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="pop_filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header px-4">
                    <h5 class="modal-title" id="ModalLabel">Report Filter</h5>
                </div>
                <div class="modal-body border-bottom-0 px-4">
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group shadow-none">
                                    <label class="form-control-label">From Year</label>
                                    <select name="from_yr" id="from_yr" class="form-control form-select-sm">
                                        <option value="0">Select Year</option>
                                        {% for year in years %}
                                        <option value="{{ year }}" {% if year == from_year %}selected{% endif %}>{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group shadow-none">
                                    <label class="form-control-label">From Month</label>
                                    <select name="from_mo" id="from_mo" class="form-control form-select-sm">
                                        <option value="0">Select Month</option>
                                        {% for month in months %}
                                        <option value="{{ month }}" {% if month == from_month %}selected{% endif %}>{{ month }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group shadow-none">
                                    <label class="form-control-label">To Year</label>
                                    <select name="to_yr" id="to_yr" class="form-control form-select-sm">
                                        <option value="0">Select Year</option>
                                        {% for year in years %}
                                        <option value="{{ year }}" {% if year == to_year %}selected{% endif %}>{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group shadow-none">
                                    <label class="form-control-label">To Month</label>
                                    <select name="to_mo" id="to_mo" class="form-control form-select-sm">
                                        <option value="0">Select Month</option>
                                        {% for month in months %}
                                        <option value="{{ month }}" {% if month == to_month %}selected{% endif %}>{{ month }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group shadow-none">
                                    <label class="form-control-label">Distributor</label>
                                    <select name="distributor" id="distributor" class="form-control form-select-sm">
                                        <option value="all">All Distributor</option>
                                        {% for distributor in distributors %}
                                        <option value="{{ distributor.distributor_id }}" {% if distributor.distributor_id == selected_distributor %}selected{% endif %}>{{ distributor.distributor_id }} - {{ distributor.distributor_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 px-4">
                    {% if from_year != '0' and to_year != '0' and from_month != '0' and to_month != '0' %}
                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                    {% else %}
                    <a href="{% url 'home' %}" class="btn bg-gradient-dark">Cancel</a>
                    {% endif %}
                    <button type="button" id="filter" class="btn bg-success text-white"><i class="fas fa-file-excel"></i>&nbsp;&nbsp;Generate Report</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    let from_year = '{{ from_year }}';
    let to_year = '{{ to_year }}';
    let from_month = '{{ from_month }}';
    let to_month = '{{ to_month }}';
    let from_yr = document.getElementById('from_yr');
    let to_yr = document.getElementById('to_yr');
    let from_mo = document.getElementById('from_mo');
    let to_mo = document.getElementById('to_mo');
    let distributor = document.getElementById('distributor');
    let filter = document.getElementById('filter');
    let err = '{{ error }}'

    if(err) {
        alert(err);
        window.location.href = "{% url 'report-budget-summary' '0' '0' '0' '0' 'all' %}";
    }

    from_yr.addEventListener('change', function() {
        if(from_yr.value != '0' && parseInt(from_yr.value) > parseInt(to_yr.value)) {
            to_yr.value = from_yr.value;
        }
    });

    to_yr.addEventListener('change', function() {
        if(to_yr.value != '0' && parseInt(to_yr.value) < parseInt(from_yr.value)) {
            from_yr.value = to_yr.value;
        }
    });

    from_mo.addEventListener('change', function() {
        if(from_mo.value != '0' && parseInt(from_mo.value) > parseInt(to_mo.value) && from_yr.value == to_yr.value) {
            to_mo.value = from_mo.value;
        }
    });

    to_mo.addEventListener('change', function() {
        if(to_mo.value != '0' && parseInt(to_mo.value) < parseInt(from_mo.value) && from_yr.value == to_yr.value) {
            from_mo.value = to_mo.value;
        }
    });

    filter.addEventListener('click', function() {
        let url = `/report/budget_summary/export/${from_yr.value}/${from_mo.value}/${to_yr.value}/${to_mo.value}/${distributor.value}`;
        window.location.href = url;
    });

    $('#pop_filter').modal({backdrop: 'static', keyboard: false});
    
    $(document).ready( function () {
        new DataTable('#budgetTable', {
            scrollX: true
        });
        
        $(document).on('click', 'tbody tr', function() {
            var href = $(this).data('href');
            if(href) { // Check if href data exists
                window.location = href;
            } else {
                console.log("No data in href");
            }
        });

        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }
    } );
</script>

{% endblock javascripts %}

