{% extends 'layouts/base.html' %}

{% block title %} Budget Monthly Report {% endblock title %}

{% block content %}

{% load humanize %}

{% load user_agents %}

<!-- Page content -->
<div class="container-fluid py-0">
    <div class="row">
        <div class="col-12">
            <div class="card {% if request|is_mobile %}mb-6{% else %}mb-4{% endif %} p-4 z-index-0">
                <div class="row mb-2">
                    <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                        <h4>Budget Monthly Report</h4>
                    </div>
                    <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                        {% if request|is_mobile %}
                        <div class="dropdown float-lg-end pe-2">
                            <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                <li><a class="dropdown-item border-radius-md" data-bs-toggle="modal" data-bs-target="#pop_filter">Filter</a></li>
                                <li><a id="export" class="dropdown-item border-radius-md" {% if not data %}hidden{% endif %}>Export Data</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <button class="btn btn-sm bg-gradient-danger mb-0" data-bs-toggle="modal" data-bs-target="#pop_filter"><i class="fas fa-filter"></i>&nbsp;&nbsp;Filter</button>
                        <button id="export" class="btn btn-sm bg-success text-white mb-0 {% if not budgets %}disabled{% endif %}"><i class="fas fa-file-excel"></i>&nbsp;&nbsp;Export Data</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table hover align-items-center mb-0" id="budgetTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Year</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mo</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Area</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Distributor</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ch</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">%</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Begin Bal</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Upping Price</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Transfer</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Current Bal</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Proposed</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Remaining</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end">Available Bal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for budget in budgets %}
                                    {% for item in budget.details %}
                                    <tr>
                                        <td>
                                            <h6 class="mb-0 text-sm">{% ifchanged budget.budget_year %}{{ budget.budget_year }}{% endifchanged %}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm">{% ifchanged budget.budget_month %}{{ budget.budget_month }}{% endifchanged %}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm">{% ifchanged budget.budget_area %}{{ budget.budget_area }}{% endifchanged %}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm">{% ifchanged budget.budget_distributor.distributor_name %}{{ budget.budget_distributor.distributor_name }}{% endifchanged %}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm">{{ item.budget_channel_id }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm text-end">{{ item.budget_percent }}%</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm text-end">{{ item.budget_amount|intcomma }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm text-end">{% if budget.budget_status == 'DRAFT' or budget.budget_status == 'IN APPROVAL' %}0{% else %}{{ item.budget_upping|intcomma }}{% endif %}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm text-end">{{ item.transfer|intcomma }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm text-end">{% if budget.budget_status == 'DRAFT' or budget.budget_status == 'IN APPROVAL' %}{{ item.draft_curr_bal|intcomma }}{% else %}{{ item.beginning_mo|intcomma }}{% endif %}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm text-end">{{ item.budget_proposed|intcomma }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm text-end">{{ item.budget_remaining|intcomma }}</h6>
                                        </td>
                                        <td>
                                            <h6 class="mb-0 text-sm text-end">{% if budget.budget_status == 'DRAFT' or budget.budget_status == 'IN APPROVAL' %}{{ item.draft_balance|intcomma }}{% else %}{{ item.budget_balance|intcomma }}{% endif %}</h6>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"></td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"></td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Total</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">{{ budget.budget_distributor.distributor_name }}</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"></td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{% if budget.budget_status == 'DRAFT' or budget.budget_status == 'IN APPROVAL' %}0%{% else %}100%{% endif %}</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{{ budget.budget_amount|intcomma }}</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{% if budget.budget_status == 'DRAFT' or budget.budget_status == 'IN APPROVAL' %}0{% else %}{{ budget.budget_upping|intcomma }}{% endif %}</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">0</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{% if budget.budget_status == 'DRAFT' or budget.budget_status == 'IN APPROVAL' %}{{ budget.budget_amount|intcomma }}{% else %}{{ budget.budget_total|intcomma }}{% endif %}</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{% if budget.budget_status == 'DRAFT' or budget.budget_status == 'IN APPROVAL' %}{{ budget.draft_proposed|intcomma }}{% else %}{{ budget.proposed|intcomma }}{% endif %}</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{{ budget.remaining|intcomma }}</td>
                                        <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{% if budget.budget_status == 'DRAFT' or budget.budget_status == 'IN APPROVAL' %}{{ budget.draft_tot_bal|intcomma }}{% else %}{{ budget.budget_balance|intcomma }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {% if budgets %}
                            <tfoot>
                                <tr>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"></td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"></td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"></td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">Grand Total</td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7"></td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end"></td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{{ total.begin_bal|intcomma }}</td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{% if draft_total.upping %}{{ draft_total.upping|intcomma }}{% else %}0{% endif %}</td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">0</td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{{ curr_bal|intcomma }}</td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{{ total.proposed|intcomma }}</td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{{ total.remaining|intcomma }}</td>
                                    <td class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 text-end">{{ total_bal|intcomma }}</td>
                                </tr>
                            </tfoot>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="pop_filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header px-4">
                    <h5 class="modal-title" id="ModalLabel">Report Filter</h5>
                </div>
                <div class="modal-body border-bottom-0 px-4">
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group shadow-none">
                                    <label class="form-control-label">Year</label>
                                    <select name="from_yr" id="from_yr" class="form-control form-select-sm">
                                        <option value="0">Select Year</option>
                                        {% for year in years %}
                                        <option value="{{ year }}" {% if year == from_year %}selected{% endif %}>{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group shadow-none">
                                    <label class="form-control-label">Month</label>
                                    <select name="from_mo" id="from_mo" class="form-control form-select-sm">
                                        <option value="0">Select Month</option>
                                        {% for month in months %}
                                        <option value="{{ month }}" {% if month == from_month %}selected{% endif %}>{{ month }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group shadow-none">
                                    <label class="form-control-label">Distributor</label>
                                    <select name="distributor" id="distributor" class="form-control form-select-sm">
                                        <option value="all">All Distributor</option>
                                        {% for distributor in distributors %}
                                        <option value="{{ distributor.distributor_id }}" {% if distributor.distributor_id == selected_distributor %}selected{% endif %}>{{ distributor.distributor_id }} - {{ distributor.distributor_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 px-4">
                    {% if from_year != '0' and from_month != '0' %}
                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Cancel</button>
                    {% else %}
                    <a href="{% url 'home' %}" class="btn bg-gradient-dark">Cancel</a>
                    {% endif %}
                    <button type="button" id="filter" class="btn bg-gradient-danger text-white">Apply Filter</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    let from_year = '{{ from_year }}';
    let to_year = '{{ to_year }}';
    let from_month = '{{ from_month }}';
    let to_month = '{{ to_month }}';
    let from_yr = document.getElementById('from_yr');
    let from_mo = document.getElementById('from_mo');
    let distributor = document.getElementById('distributor');
    let filter = document.getElementById('filter');
    let scroll_x = '{{ scrollX }}';
    let export_btn = document.getElementById('export');

    filter.addEventListener('click', function() {
        let url = `/report/budget/monthly/${from_yr.value}/${from_mo.value}/0/0/${distributor.value}`;
        window.location.href = url;
    });

    export_btn.addEventListener('click', function() {
        let url = `/report/budget/monthly/export/${from_yr.value}/${from_mo.value}/0/0/${distributor.value}`;
        window.location.href = url;
    });

    if(from_year == '0' && to_year == '0' && from_month == '0' && to_month == '0') {
        $('#pop_filter').modal({backdrop: 'static', keyboard: false});
    }
    
    $(document).ready( function () {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#budgetTable').DataTable({
                "scrollX": true,
                "info": false,
                "sort": false,
                "lengthChange": false,
                "pageLength": -1,
                "scrollCollapse": true,
                "scrollY": "50vh",
            });
        } else {
            $('#budgetTable').DataTable({
                "scrollX": true,
                "info": false,
                "sort": false,
                "lengthChange": false,
                "pageLength": -1,
                "scrollCollapse": true,
                "scrollY": "50vh",
            });
        }
        
        $(document).on('click', 'tbody tr', function() {
            var href = $(this).data('href');
            if(href) { // Check if href data exists
                window.location = href;
            } else {
                console.log("No data in href");
            }
        });
        
        let btn = document.getElementsByClassName('paginate_button');
        for (const button of btn) {
            button.classList.add('border-radius-top-start-circle', 'border-radius-bottom-end-circle', 'border-radius-top-end-circle', 'border-radius-bottom-start-circle');
        }

        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });
    } );

    $(document).ready(function() {
        let modal = document.getElementsByClassName('modal');
        
        for (const item of modal) {
            item.addEventListener('show.bs.modal', function() {
                // remove z-index-0 from nearest card class
                item.closest('.card').classList.remove('z-index-0');
            });
            item.addEventListener('hidden.bs.modal', function() {
                // add z-index-0 from nearest card class
                item.closest('.card').classList.add('z-index-0');
            });
        }
    });
</script>

{% endblock javascripts %}