<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Integrated System | ABC President Indonesia - 403 Forbidden</title>
  <link rel="icon" href="https://ksisolusi.com/apps/static/img/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://ksisolusi.com/apps/static/css/forbidden.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="lock"></div>
<div class="message">
  <h1>Akses sedang dibatasi</h1>
  <p>Kami sedang melakukan perbaikan sistem, silahkan coba beberapa saat lagi.</p>
</div>
<!-- partial -->

</body>
</html>
