{% extends 'layouts/base.html' %}

{% block title %} Change Password {% endblock title %}

{% block content %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'change-password' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="{% if request|is_mobile %}col-11{% else %}col-6{% endif %} d-flex align-items-center">
                                <h4 class="mb-2">User: {{ data.username }}</h4>
                            </div>
                            <div class="{% if request|is_mobile %}col-1{% else %}col-6{% endif %} text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><a type="submit" class="dropdown-item border-radius-md text-body">Save</a></li>
                                        <li><a href="{% url 'home' %}" class="dropdown-item border-radius-md">Cancel</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <button type="submit" class="btn btn-sm bg-gradient-danger mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'home' %}" class="btn btn-sm bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.old_password.label_tag }}
                                        <div class="input-group input-group-alternative">
                                            {{ form.old_password }}
                                            <span class="input-group-text bg-transparent end-0 pe-3 py-2 cursor-pointer text-body z-index-2" id="show-hide-old-pass"><i class="fas fa-eye-slash"></i></span>
                                        </div>
                                        <div class="text-sm text-danger">
                                            {{ form.old_password.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.new_password1.label_tag }}
                                        <div class="input-group input-group-alternative">
                                            {{ form.new_password1 }}
                                            <span class="input-group-text bg-transparent end-0 pe-3 py-2 cursor-pointer text-body z-index-2" id="show-hide-new-pass"><i class="fas fa-eye-slash"></i></span>
                                        </div>
                                        <div class="text-sm text-danger">
                                            {{ form.new_password1.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shadow-none">
                                        {{ form.new_password2.label_tag }}
                                        <div class="input-group input-group-alternative">
                                            {{ form.new_password2 }}
                                            <span class="input-group-text bg-transparent end-0 pe-3 py-2 cursor-pointer text-body z-index-2" id="show-hide-confirm-pass"><i class="fas fa-eye-slash"></i></span>
                                        </div>
                                        <div class="text-sm text-danger">
                                            {{ form.new_password2.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#show-hide-old-pass').click(function() {
            if ($(this).hasClass('show')) {
                $(this).removeClass('show');
                $(this).html('<i class="fas fa-eye-slash"></i>');
                $('#id_old_password').attr('type', 'password');
            } else {
                $(this).addClass('show');
                $(this).html('<i class="fas fa-eye"></i>');
                $('#id_old_password').attr('type', 'text');
            }
        });
        $('#show-hide-new-pass').click(function() {
            if ($(this).hasClass('show')) {
                $(this).removeClass('show');
                $(this).html('<i class="fas fa-eye-slash"></i>');
                $('#id_new_password1').attr('type', 'password');
            } else {
                $(this).addClass('show');
                $(this).html('<i class="fas fa-eye"></i>');
                $('#id_new_password1').attr('type', 'text');
            }
        });
        $('#show-hide-confirm-pass').click(function() {
            if ($(this).hasClass('show')) {
                $(this).removeClass('show');
                $(this).html('<i class="fas fa-eye-slash"></i>');
                $('#id_new_password2').attr('type', 'password');
            } else {
                $(this).addClass('show');
                $(this).html('<i class="fas fa-eye"></i>');
                $('#id_new_password2').attr('type', 'text');
            }
        });

        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });
    });
</script>
{% endblock javascripts %}
