{% extends 'layouts/base.html' %}

{% block title %} User {% endblock title %}

{% block content %}

<!-- Page content -->
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 p-4">
                <div class="row mb-4">
                    <div class="col-6 d-flex align-items-center">
                        <h3 class="mb-0">User List</h3>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn bg-gradient-danger mb-0" href="{% url 'user-add' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add New User</a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" id="myTable">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User ID
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        User Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Email</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr>
                                    <td>
                                        <div class="d-flex pe-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ item.1 }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.2 }}</h6>                   
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm">{{ item.3 }}</h6>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'user-view' item.0 %}" class="text-secondary font-weight-bold text-sm" data-toggle="tooltip"
                                            data-original-title="Edit User">
                                            Edit
                                        </a>
                                        <a href="{% url 'set-password' item.0 %}" class="text-secondary font-weight-bold text-sm ps-4" data-toggle="tooltip"
                                            data-original-title="Change Password">
                                            Password
                                        </a>
                                        <button class="text-danger font-weight-bold text-sm ps-4 border-0 bg-transparent" data-toggle="tooltip"
                                            data-original-title="Delete User" data-bs-toggle="modal" data-bs-target="#confirm-{{ item.0 }}">
                                            Delete
                                        </button>
                                    </td>
                                    <div class="modal fade" id="confirm-{{ item.0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete user <strong>{{ item.2 }}</strong>?
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <a href="{% url 'user-delete' item.0 %}" role="button"
                                                        class="btn bg-gradient-primary text-white">Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script>
    $(document).ready( function () {
      $('#myTable').DataTable();
    } );
</script>

{% endblock javascripts %}
