{% extends 'layouts/base.html' %}

{% block title %} Add New User {% endblock title %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'user-add' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h3 class="mb-0">Add New User</h3>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn bg-gradient-danger mb-0"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                <a href="{% url 'user-index' %}" class="btn bg-gradient-dark mb-0"><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            {% if message %}
                            <div class="alert alert-danger text-white">
                                {{ message }}
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">User ID</label>
                                        {{ form.user_id }}
                                        <label class="text-muted text-xs">
                                            <span class="text-danger">*</span> 5 digits User shortname.
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">User Name</label>
                                        {{ form.username }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Email</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Position</label>
                                        <select name="position" class="form-control">
                                            <option value="">-- Select Position --</option>
                                            {% for item in position %}
                                            <option value="{{ item.position_id }}">{{ item.position_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Password</label>
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group shadow-none">
                                        <label class="form-control-label">Confirm Password</label>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}