{% extends 'layouts/base.html' %}

{% block title %} Message {% endblock title %}

{% block content %}

{% load user_agents %}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <form action="{% url 'welcome-message-update' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="mb-2">Message</h4>
                            </div>
                            <div class="col-6 text-end">
                                {% if request|is_mobile %}
                                <div class="dropdown float-lg-end pe-2">
                                    <a class="cursor-pointer text-body" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5 z-index-3" aria-labelledby="dropdownTable">
                                        <li><a href="{% url 'welcome-message' %}" class="dropdown-item border-radius-md" {% if crud == 'view' %}hidden{% endif %}>Cancel</a></li>
                                        <li><a href="{% url 'welcome-message-update' %}" class="dropdown-item border-radius-md" {% if not btn.edit and not request.user.is_superuser %}hidden{% endif %} {% if crud == 'update' %}hidden{% endif %}>Edit</a></li>
                                        <li><a type="submit" class="dropdown-item border-radius-md" {% if crud == 'view' %}hidden{% endif %}>Save</a></li>
                                    </ul>
                                </div>
                                {% else %}
                                <a href="{% url 'welcome-message' %}" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-reply"></i>&nbsp;&nbsp;Cancel</a>
                                <a href="{% url 'welcome-message-update' %}" class="btn btn-sm bg-gradient-dark mb-0 {% if not btn.edit and not request.user.is_superuser %}disabled{% endif %}" {% if crud == 'update' %}hidden{% endif %}><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
                                <button type="submit" class="btn btn-sm bg-gradient-dark mb-0" {% if crud == 'view' %}hidden{% endif %}><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="{% if request|is_mobile %}col-md-12{% else %}col-md-4{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.title.label_tag }}{{ form.title }}
                                        <div class="text-sm text-danger">
                                            {{ form.title.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="{% if request|is_mobile %}col-md-12{% else %}col-md-8{% endif %}">
                                    <div class="shadow-none">
                                        {{ form.message.label_tag }}{{ form.message }}
                                        <div class="text-sm text-danger">
                                            {{ form.message.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        let btn_menu = document.getElementById('dropdownTable');
        let dropdown_menu = document.getElementsByClassName('dropdown-menu');
        
        // open dropdown menu
        btn_menu.addEventListener('click', function() {
            dropdown_menu[0].classList.toggle('show');
        });
    });
</script>
{% endblock javascripts %}
